<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power.dao.WorkerInfoDao">
  <resultMap id="BaseResultMap" type="com.power.bean.BusWorker">
    <id column="worker_id" jdbcType="VARCHAR" property="workerId" />
    <result column="worker_name" jdbcType="VARCHAR" property="workerName" />
    <result column="worker_code" jdbcType="VARCHAR" property="workerCode" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="community" jdbcType="VARCHAR" property="community" />
    <result column="professional" jdbcType="VARCHAR" property="professional" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="fixed_phone" jdbcType="VARCHAR" property="fixedPhone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait" />
    <result column="cert_code" jdbcType="VARCHAR" property="certCode" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="login_num" jdbcType="VARCHAR" property="loginNum" />
    <result column="isfirst" jdbcType="INTEGER" property="isfirst" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="seller_login_id" jdbcType="VARCHAR" property="sellerLoginId" />
    <result column="site_id" jdbcType="INTEGER" property="siteId" />
    <result column="chant_id" jdbcType="INTEGER" property="chantId" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
  </resultMap>
  <sql id="Base_Column_List">
    worker_id, worker_name, worker_code, login_name, password, sex, company, community, 
    professional, contact, fixed_phone, province, city, district, head_portrait, cert_code, 
    email, qq, status, login_num, isfirst, create_date, update_date, type, store_id, 
    seller_login_id, site_id, chant_id, rank
  </sql>
  			
<!--查询员工信息 -->
	<select id="queryWorkerInfo" parameterType="java.util.Map"  resultType="com.power.bean.WorkerInfo">
			select worker_id, worker_name, worker_code, login_name,
			password, sex, company, community, professional, contact,
			fixed_phone, province, city, district, head_portrait,
			cert_code, email, qq, status, login_num, isfirst,type,
			create_date,update_date,store_id,site_id,chant_id,rank from bus_worker
			where
				<if test="worker_name != null and worker_name != ''">worker_name like CONCAT('%','${worker_name}','%' ) and</if>
				<if test="worker_code != null and worker_code != ''">worker_code like CONCAT('%','${worker_code}','%' ) and</if>
				<if test="worker_id != null"> worker_id = #{worker_id} and </if>
				<if test ="login_name != null and login_name != ''">login_name = #{login_name} and</if>
				<if test="password != null"> password =BINARY #{password} and </if>
				<if test ="create_date != null">create_date = #{create_date} and</if>
				<if test="company != null and company != ''">company like CONCAT('%','${company}','%' ) and</if>
				<if test="community != null and community != ''">community like CONCAT('%','${community}','%' ) and</if>
				<if test="professional != null and professional != ''">professional like CONCAT('%','${professional}','%' ) and</if>
				<if test ="province != null">province = #{province} and</if>
				<if test ="city != null">city = #{city} and</if>
				<if test ="district != null">district = #{district} and</if>
				<if test ="status != null and status != ''">status = #{status} and</if>
				<if test ="type != null and type != ''">type = #{type} and</if>
				<if test ="store_id != null and store_id != ''">store_id = #{store_id} and</if>
				<if test ="seller_login_id != null and seller_login_id != ''">seller_login_id = #{seller_login_id} and</if>
				<if test="site_id != null and site_id != ''">#{site_id},</if>
			1 = 1 
	</select>
	<!-- 查询员工编号是否存在 -->
	<select id="queryWorkerCodeIsExist" parameterType="java.lang.String" resultType="com.power.bean.WorkerInfo">
		select worker_id, worker_name, worker_code, login_name,
			password, sex, company, community, professional, contact,
			fixed_phone, province, city, district, head_portrait,
			cert_code, email, qq, status, login_num, isfirst,type,
			create_date,update_date,store_id,chant_id from bus_worker
			where
			login_name = #{login_name}
	</select>
	<!-- 查询员工登录名是否存在 -->
	<select id="queryLoginNameIsExist" parameterType="java.lang.String" resultType="com.power.bean.WorkerInfo">
		select worker_id, worker_name, worker_code, login_name,
			password, sex, company, community, professional, contact,
			fixed_phone, province, city, district, head_portrait,
			cert_code, email, qq, status, login_num, isfirst,type,
			create_date,update_date,store_id,chant_id from bus_worker
			where
			login_name = #{login_name}
	</select>
	
	<!--查询员工信息 -->
	<select id="queryWorkerInfoList" parameterType="java.util.Map"  resultType="com.power.bean.WorkerInfo">
			select worker_id, worker_name, worker_code, login_name,
			password, sex, company, community, professional, contact,
			fixed_phone, province, city, district, head_portrait,
			cert_code, email, qq, status, login_num, isfirst,type,
			create_date,update_date,store_id,site_id,chant_id,rank from bus_worker
			where
				<if test="worker_name != null and worker_name != ''">worker_name like CONCAT('%','${worker_name}','%' ) and</if>
				<if test="worker_code != null and worker_code != ''">worker_code like CONCAT('%','${worker_code}','%' ) and</if>
				<if test="worker_id != null"> worker_id = #{worker_id} and </if>
				<if test="login_name != null and login_name != ''">login_name = #{login_name} and</if>
				<if test="password != null"> password = #{password} and </if>
				<if test ="create_date != null">create_date = #{create_date} and</if>
				<if test="company != null and company != ''">company like CONCAT('%','${company}','%' ) and</if>
				<if test="community != null and community != ''">community like CONCAT('%','${community}','%' ) and</if>
				<if test="professional != null and professional != ''">professional like CONCAT('%','${professional}','%' ) and</if>
				<if test ="province != null">province = #{province} and</if>
				<if test ="city != null">city = #{city} and</if>
				<if test ="district != null">district = #{district} and</if>
				<if test ="status != null">status = #{status} and</if>
				<if test ="type != null and type != ''">type = #{type} and</if>
				<if test ="store_id != null and store_id != ''">store_id = #{store_id} and</if>
				<if test ="seller_login_id != null and seller_login_id != ''">seller_login_id = #{seller_login_id} and</if>
				<if test="site_id != null and site_id != ''">#{site_id},</if>
			1 = 1 
	</select>
	
	<!--查询员工总数 -->
	<select id="queryWorkerInfoListCount" parameterType="java.util.Map"  resultType="int">
			select count(1) from bus_worker
			where
				<if test="worker_name != null and worker_name != ''">worker_name like CONCAT('%','${worker_name}','%' ) and</if>
				<if test="worker_code != null and worker_code != ''">worker_code like CONCAT('%','${worker_code}','%' ) and</if>
				<if test="worker_id != null"> worker_id = #{worker_id} and </if>
				<if test="chant_id != null"> chant_id = #{chant_id} and </if>
				<if test="login_name != null and login_name != ''">login_name = #{login_name} and</if>
				<if test="password != null"> password = #{password} and </if>
				<if test ="create_date != null">create_date = #{create_date} and</if>
				<if test="company != null and company != ''">company like CONCAT('%','${company}','%' ) and</if>
				<if test="community != null and community != ''">community like CONCAT('%','${community}','%' ) and</if>
				<if test="professional != null and professional != ''">professional like CONCAT('%','${professional}','%' ) and</if>
				<if test ="province != null">province = #{province} and</if>
				<if test ="city != null">city = #{city} and</if>
				<if test ="district != null">district = #{district} and</if>
				<if test ="status != null and status != ''">status = #{status} and</if>
				<if test ="type != null and type != ''">type = #{type} and</if>
				<if test ="store_id != null and store_id != ''">store_id = #{store_id} and</if>
				<if test ="seller_login_id != null and seller_login_id != ''">seller_login_id = #{seller_login_id} and</if>
				<if test ="chant_id != null and chant_id != ''">chant_id = #{chant_id} and</if>
				<if test="site_id != null and site_id != ''">#{site_id},</if>
			1 = 1 
	</select>
	
	<!--查询员工列表带分页 -->
	<select id="queryWorkerInfoListByPage" parameterType="java.util.Map"  resultType="java.util.Map">
			select  b.worker_id, b.worker_name, b.worker_code, b.login_name,b.password, b.sex, b.company, b.community, b.professional, b.contact,
					b.fixed_phone, b.province, b.city, b.district, b.head_portrait,b.cert_code, b.email, b.qq, b.status, b.login_num, b.isfirst,type,
					b.create_date,b.update_date,b.store_id,b.site_id,b.chant_id,b.rank
			from bus_worker b
			where
				<if test="worker_name != null and worker_name != ''">b.worker_name like CONCAT('%','${worker_name}','%' ) and</if>
				<if test="worker_code != null and worker_code != ''">b.worker_code like CONCAT('%','${worker_code}','%' ) and</if>
				<if test="worker_id != null"> b.worker_id = #{worker_id} and </if>
				<if test="login_name != null and login_name != ''">b.login_name = #{login_name} and</if>
				<if test="password != null"> b.password = #{password} and </if>
				<if test ="create_date != null">b.create_date = #{create_date} and</if>
				<if test="company != null and company != ''">b.company like CONCAT('%','${company}','%' ) and</if>
				<if test="community != null and community != ''">b.community like CONCAT('%','${community}','%' ) and</if>
				<if test="professional != null and professional != ''">b.professional like CONCAT('%','${professional}','%' ) and</if>
				<if test ="province != null">b.province = #{province} and</if>
				<if test ="city != null">b.city = #{city} and</if>
				<if test ="district != null">b.district = #{district} and</if>
				<if test ="status != null and status != ''">b.status = #{status} and</if>
				<if test ="type != null and type != ''">b.type = #{type} and</if>
				<if test ="store_id != null and store_id != ''">b.store_id = #{store_id} and</if>
				<if test ="seller_login_id != null and seller_login_id != ''">b.seller_login_id = #{seller_login_id} and</if>
				<if test ="chant_id != null and chant_id != ''">b.chant_id = #{chant_id} and</if>
				<if test="site_id != null and site_id != ''">b.site_id = #{site_id},</if>
			1 = 1 
			GROUP BY b.worker_id
			order by b.update_date DESC
	</select>
	
 
	
	<!--根据worker_id查询员工 -->
	<select id="selectWorkerByWorkerId" parameterType="String"  resultType="com.power.bean.WorkerInfo">
			select  worker_id, worker_name, worker_code, login_name,password, sex, company, community, professional, contact,
					fixed_phone, province, city, district, head_portrait,cert_code, email, qq, status, login_num, isfirst,type,
					create_date,update_date,store_id,site_id,chant_id, rank 
			from bus_worker
			where
				worker_id = #{worker_id} and 
			1 = 1 
	</select>
	
	<delete id="deleteWorkerInfo" parameterType="java.lang.String">
		delete from bus_worker where worker_id = #{worker_id}
	</delete>
	
	<!-- 验证管理员手机号是否重复 -->
	<select id="selectWorkerByContact" parameterType="String"
		resultType="com.power.bean.WorkerInfo">
		SELECT
		worker_id,
		worker_name,
		worker_code,
		login_name,
		PASSWORD,
		sex,
		company,
		community,
		professional,
		contact,
		fixed_phone,
		province,
		city,
		district,
		head_portrait,
		cert_code,
		email,
		qq,
		STATUS,
		login_num,
		isfirst,
		create_date,
		update_date,
		type,
		store_id,
		seller_login_id,
		site_id,
		chant_id
		FROM
		bus_worker
		WHERE
		contact = #{contact} and
		1=1
	</select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bus_worker
    where worker_id = #{workerId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.boot.generator.bean.BusWorker">
    insert into bus_worker (worker_id, worker_name, worker_code, 
      login_name, password, sex, 
      company, community, professional, 
      contact, fixed_phone, province, 
      city, district, head_portrait, 
      cert_code, email, qq, 
      status, login_num, isfirst, 
      create_date, update_date, type, 
      store_id, seller_login_id, site_id, 
      chant_id, rank)
    values (#{workerId,jdbcType=VARCHAR}, #{workerName,jdbcType=VARCHAR}, #{workerCode,jdbcType=VARCHAR}, 
      #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{company,jdbcType=VARCHAR}, #{community,jdbcType=VARCHAR}, #{professional,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{fixedPhone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{headPortrait,jdbcType=VARCHAR}, 
      #{certCode,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{loginNum,jdbcType=VARCHAR}, #{isfirst,jdbcType=INTEGER}, 
      #{createDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE}, #{type,jdbcType=INTEGER}, 
      #{storeId,jdbcType=VARCHAR}, #{sellerLoginId,jdbcType=VARCHAR}, #{siteId,jdbcType=INTEGER}, 
      #{chantId,jdbcType=INTEGER}, #{rank,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.boot.generator.bean.BusWorker">
    insert into bus_worker
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="workerId != null">
        worker_id,
      </if>
      <if test="workerName != null">
        worker_name,
      </if>
      <if test="workerCode != null">
        worker_code,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="community != null">
        community,
      </if>
      <if test="professional != null">
        professional,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="fixedPhone != null">
        fixed_phone,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="headPortrait != null">
        head_portrait,
      </if>
      <if test="certCode != null">
        cert_code,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="loginNum != null">
        login_num,
      </if>
      <if test="isfirst != null">
        isfirst,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="sellerLoginId != null">
        seller_login_id,
      </if>
      <if test="siteId != null">
        site_id,
      </if>
      <if test="chantId != null">
        chant_id,
      </if>
      <if test="rank != null">
        rank,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="workerId != null">
        #{workerId,jdbcType=VARCHAR},
      </if>
      <if test="workerName != null">
        #{workerName,jdbcType=VARCHAR},
      </if>
      <if test="workerCode != null">
        #{workerCode,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="community != null">
        #{community,jdbcType=VARCHAR},
      </if>
      <if test="professional != null">
        #{professional,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="fixedPhone != null">
        #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="headPortrait != null">
        #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="loginNum != null">
        #{loginNum,jdbcType=VARCHAR},
      </if>
      <if test="isfirst != null">
        #{isfirst,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="sellerLoginId != null">
        #{sellerLoginId,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null">
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="chantId != null">
        #{chantId,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.generator.bean.BusWorker">
    update bus_worker
    <set>
      <if test="workerName != null">
        worker_name = #{workerName,jdbcType=VARCHAR},
      </if>
      <if test="workerCode != null">
        worker_code = #{workerCode,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="community != null">
        community = #{community,jdbcType=VARCHAR},
      </if>
      <if test="professional != null">
        professional = #{professional,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="fixedPhone != null">
        fixed_phone = #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="headPortrait != null">
        head_portrait = #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        cert_code = #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="loginNum != null">
        login_num = #{loginNum,jdbcType=VARCHAR},
      </if>
      <if test="isfirst != null">
        isfirst = #{isfirst,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="sellerLoginId != null">
        seller_login_id = #{sellerLoginId,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null">
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="chantId != null">
        chant_id = #{chantId,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
    </set>
    where worker_id = #{workerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boot.generator.bean.BusWorker">
    update bus_worker
    set worker_name = #{workerName,jdbcType=VARCHAR},
      worker_code = #{workerCode,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      company = #{company,jdbcType=VARCHAR},
      community = #{community,jdbcType=VARCHAR},
      professional = #{professional,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      fixed_phone = #{fixedPhone,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      head_portrait = #{headPortrait,jdbcType=VARCHAR},
      cert_code = #{certCode,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      login_num = #{loginNum,jdbcType=VARCHAR},
      isfirst = #{isfirst,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=DATE},
      type = #{type,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=VARCHAR},
      seller_login_id = #{sellerLoginId,jdbcType=VARCHAR},
      site_id = #{siteId,jdbcType=INTEGER},
      chant_id = #{chantId,jdbcType=INTEGER},
      rank = #{rank,jdbcType=INTEGER}
    where worker_id = #{workerId,jdbcType=VARCHAR}
  </update>
</mapper>