<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antke.website.dao.PlatTeamRegionMapper">
  <resultMap id="BaseResultMap" type="com.antke.website.model.bean.PlatTeamRegion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pteam_id" jdbcType="INTEGER" property="pteamId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_pic" jdbcType="VARCHAR" property="goodsPic" />
    <result column="region_id" jdbcType="INTEGER" property="regionId" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="market_price" jdbcType="DOUBLE" property="marketPrice" />
    <result column="region_price" jdbcType="DOUBLE" property="regionPrice" />
    <result column="vip_price" jdbcType="DOUBLE" property="vipPrice" />
    <result column="rebate_type" jdbcType="INTEGER" property="rebateType" />
    <result column="rebate_value" jdbcType="DOUBLE" property="rebateValue" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pteam_id, goods_id, goods_name, goods_pic, region_id, region_name, market_price, 
    region_price, vip_price, rebate_type, rebate_value, stock, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plat_team_region
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="selectPlatTeamRegionList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plat_team_region
    where 
     	<if test="pteamId != null  and pteamId != ''">
        pteam_id = #{pteamId,jdbcType=INTEGER} and
       </if>
       1=1
       GROUP BY  goods_id 
  </select>
  
     <select id="selectRegionList" parameterType="java.util.Map" resultType="java.util.Map">
     select 
    	region_id,region_name
    from plat_team_region
    where 
     	<if test="pteamId != null  and pteamId != ''">
        pteam_id = #{pteamId,jdbcType=INTEGER} and
       </if>
       1=1
       GROUP BY  region_id 
  </select>
  
  <insert id="insert" parameterType="com.antke.website.model.bean.PlatTeamRegion">
    insert into plat_team_region (id, pteam_id, goods_id, 
      goods_name, goods_pic, region_id, 
      region_name, market_price, region_price, 
      vip_price, rebate_type, rebate_value, 
      stock, create_date, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{pteamId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsPic,jdbcType=VARCHAR}, #{regionId,jdbcType=INTEGER}, 
      #{regionName,jdbcType=VARCHAR}, #{marketPrice,jdbcType=DOUBLE}, #{regionPrice,jdbcType=DOUBLE}, 
      #{vipPrice,jdbcType=DOUBLE}, #{rebateType,jdbcType=INTEGER}, #{rebateValue,jdbcType=DOUBLE}, 
      #{stock,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.antke.website.model.bean.PlatTeamRegion">
    insert into plat_team_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pteamId != null">
        pteam_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPic != null">
        goods_pic,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="regionName != null">
        region_name,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="regionPrice != null">
        region_price,
      </if>
      <if test="vipPrice != null">
        vip_price,
      </if>
      <if test="rebateType != null">
        rebate_type,
      </if>
      <if test="rebateValue != null">
        rebate_value,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pteamId != null">
        #{pteamId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="regionPrice != null">
        #{regionPrice,jdbcType=DOUBLE},
      </if>
      <if test="vipPrice != null">
        #{vipPrice,jdbcType=DOUBLE},
      </if>
      <if test="rebateType != null">
        #{rebateType,jdbcType=INTEGER},
      </if>
      <if test="rebateValue != null">
        #{rebateValue,jdbcType=DOUBLE},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.antke.website.model.bean.PlatTeamRegion">
    update plat_team_region
    <set>
      <if test="pteamId != null">
        pteam_id = #{pteamId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        goods_pic = #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="regionName != null">
        region_name = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="regionPrice != null">
        region_price = #{regionPrice,jdbcType=DOUBLE},
      </if>
      <if test="vipPrice != null">
        vip_price = #{vipPrice,jdbcType=DOUBLE},
      </if>
      <if test="rebateType != null">
        rebate_type = #{rebateType,jdbcType=INTEGER},
      </if>
      <if test="rebateValue != null">
        rebate_value = #{rebateValue,jdbcType=DOUBLE},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.antke.website.model.bean.PlatTeamRegion">
    update plat_team_region
    set pteam_id = #{pteamId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_pic = #{goodsPic,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=INTEGER},
      region_name = #{regionName,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=DOUBLE},
      region_price = #{regionPrice,jdbcType=DOUBLE},
      vip_price = #{vipPrice,jdbcType=DOUBLE},
      rebate_type = #{rebateType,jdbcType=INTEGER},
      rebate_value = #{rebateValue,jdbcType=DOUBLE},
      stock = #{stock,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
	

	<insert id="newPlatTeamRegion" parameterType="com.antke.website.model.bean.PlatTeamRegion">
		insert into plat_team_region
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id  !=''">
				id,
			</if>
			<if test="pteamId != null and pteamId  !=''">
				pteam_id,
			</if>
			<if test="goodsId != null and goodsId  !=''">
				goods_id,
			</if>
			<if test="goodsName != null and  goodsName !=''">
				goods_name,
			</if>
			<if test="goodsPic != null and goodsPic  !=''">
				goods_pic,
			</if>
			<if test="regionId != null and  regionId !=''">
				region_id,
			</if>
			<if test="regionName != null and regionName  !=''">
				region_name,
			</if>
			<if test="marketPrice != null and marketPrice  !=''">
				market_price,
			</if>
			<if test="regionPrice != null and regionPrice  !=''">
				region_price,
			</if>
			<if test="vipPrice != null and  vipPrice !=''">
				vip_price,
			</if>
			<if test="rebateType != null and rebateType  !=''">
				rebate_type,
			</if>
			<if test="rebateValue != null and rebateValue  !=''">
				rebate_value,
			</if>
			<if test="stock != null and stock  !=''">
				stock,
			</if>
			<if test="createDate != null and  createDate !=''">
				create_date,
			</if>
			<if test="updateDate != null and updateDate  !=''">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id  !=''">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="pteamId != null and pteamId  !=''">
				#{pteamId,jdbcType=INTEGER},
			</if>
			<if test="goodsId != null and goodsId  !=''">
				#{goodsId,jdbcType=INTEGER},
			</if>
			<if test="goodsName != null and goodsName  !=''">
				#{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="goodsPic != null and goodsPic  !=''">
				#{goodsPic,jdbcType=VARCHAR},
			</if>
			<if test="regionId != null and regionId  !=''">
				#{regionId,jdbcType=INTEGER},
			</if>
			<if test="regionName != null and regionName  !=''">
				#{regionName,jdbcType=VARCHAR},
			</if>
			<if test="marketPrice != null and  marketPrice !=''">
				#{marketPrice,jdbcType=DOUBLE},
			</if>
			<if test="regionPrice != null and regionPrice  !=''">
				#{regionPrice,jdbcType=DOUBLE},
			</if>
			<if test="vipPrice != null and vipPrice  !=''">
				#{vipPrice,jdbcType=DOUBLE},
			</if>
			<if test="rebateType != null and  rebateType !=''">
				#{rebateType,jdbcType=INTEGER},
			</if>
			<if test="rebateValue != null and  rebateValue !=''">
				#{rebateValue,jdbcType=DOUBLE},
			</if>
			<if test="stock != null and stock !=''">
				#{stock,jdbcType=INTEGER},
			</if>
			<if test="createDate != null and  createDate !=''">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null and updateDate  !=''">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.antke.website.model.bean.PlatTeamRegion">
		update plat_team_region
		<set>
			<if test="goodsName != null">
				region_type = #{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="goodsPic != null">
				region_type = #{goodsPic,jdbcType=VARCHAR},
			</if>
			<if test="regionName != null">
				region_name = #{regionName,jdbcType=VARCHAR},
			</if>
			<if test="marketPrice != null">
				market_price = #{marketPrice,jdbcType=DOUBLE},
			</if>
			<if test="regionPrice != null">
				region_price = #{regionPrice,jdbcType=DOUBLE},
			</if>
			<if test="vipPrice != null">
				vip_price = #{vipPrice,jdbcType=DOUBLE},
			</if>
			<if test="rebateType != null">
				rebate_type = #{rebateType,jdbcType=INTEGER},
			</if>
			<if test="rebateValue != null">
				rebate_value = #{rebateValue,jdbcType=DOUBLE},
			</if>
			<if test="stock != null">
				stock = #{stock,jdbcType=INTEGER},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where pteam_id = #{pteamId}
		AND goods_id = #{goodsId}
		AND region_id = #{regionId}
	</update>
	
	
	<select id="getRegionById" parameterType="Integer" resultType="com.antke.website.model.bean.PlatTeamRegion">
		select * from plat_team_region
		where id = #{id}
	</select>
	<update id="updateRegion" parameterType="com.antke.website.model.bean.PlatTeamRegion">
		UPDATE plat_team_region ptr
		SET ptr.region_price = #{regionPrice},ptr.stock = #{stock}, ptr.rebate_value =#{rebateValue},ptr.rebate_type = #{rebateType}
			WHERE
			ptr.pteam_id = #{pteamId}
		AND ptr.goods_id = #{goodsId}
		AND ptr.region_id = #{regionId}
	</update>
</mapper>