<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antke.promotion.dao.PromotionGoodsDetailDao">
	<resultMap id="BaseResultMap" type="com.antke.promotion.model.bean.PromotionGoodsDetail">
	  <result column="id" jdbcType="VARCHAR" property="id" />
	  <result column="promotion_id" jdbcType="VARCHAR" property="promotion_id" />
	  <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
	  <result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
	  <result column="goods_id" jdbcType="VARCHAR" property="goods_id" />
	  <result column="goods_name" jdbcType="VARCHAR" property="goods_name" />
	  <result column="market_value" jdbcType="DOUBLE" property="market_value" />
	  <result column="selling_price" jdbcType="DOUBLE" property="selling_price" />
	  <result column="rate" jdbcType="DOUBLE" property="rate" />
	  <result column="settle_price" jdbcType="DOUBLE" property="settle_price" />
	  <result column="status" jdbcType="INTEGER" property="status" />
	  <result column="stock_quantity" jdbcType="INTEGER" property="stock_quantity" />
	  <result column="activity_quantity" jdbcType="INTEGER" property="activity_quantity" />
	</resultMap>
	<sql id="Base_Column_List">
		id, promotion_id, create_date, update_date, goods_id, goods_name, market_value, selling_price,
		rate, settle_price, status, stock_quantity, activity_quantity
	</sql>
	
	<!-- 根据主键进行查询 -->
	<select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
	  select 
	  <include refid="Base_Column_List" />
	  from promotion_goods_detail 
	  where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<!-- 插入 -->
	<insert id="insert" parameterType="com.antke.promotion.model.bean.PromotionGoodsDetail">
	  insert into promotion_goods_detail (id, promotion_id, create_date, 
	    update_date, goods_id, goods_name, 
	    market_value, selling_price, rate, 
	    settle_price, status, stock_quantity, 
	    activity_quantity)
	  values (#{id,jdbcType=VARCHAR}, #{promotion_id,jdbcType=VARCHAR}, now(), 
	    now(), #{goods_id,jdbcType=VARCHAR}, #{goods_name,jdbcType=VARCHAR}, 
	    #{market_value,jdbcType=DOUBLE}, #{selling_price,jdbcType=DOUBLE}, #{rate,jdbcType=DOUBLE}, 
	    #{settle_price,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER}, #{stock_quantity,jdbcType=INTEGER}, 
	    #{activity_quantity,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.antke.promotion.model.bean.PromotionGoodsDetail">
	  insert into promotion_goods_detail
	  <trim prefix="(" suffix=")" suffixOverrides=",">
	    <if test="id != null">
	      id,
	    </if>
	    <if test="promotion_id != null">
	      promotion_id,
	    </if>
	    <if test="goods_id != null">
	      goods_id,
	    </if>
	    <if test="goods_name != null">
	      goods_name,
	    </if>
	    <if test="market_value != null">
	      market_value,
	    </if>
	    <if test="selling_price != null">
	      selling_price,
	    </if>
	    <if test="rate != null">
	      rate,
	    </if>
	    <if test="settle_price != null">
	      settle_price,
	    </if>
	    <if test="status != null">
	      status,
	    </if>
	    <if test="stock_quantity != null">
	      stock_quantity,
	    </if>
	    <if test="activity_quantity != null">
	      activity_quantity,
	    </if>
	    	create_date,update_date
	  </trim>
	  <trim prefix="values (" suffix=")" suffixOverrides=",">
	    <if test="id != null">
	      #{id,jdbcType=VARCHAR},
	    </if>
	    <if test="promotion_id != null">
	      #{promotion_id,jdbcType=VARCHAR},
	    </if>
	    <if test="goods_id != null">
	      #{goods_id,jdbcType=VARCHAR},
	    </if>
	    <if test="goods_name != null">
	      #{goods_name,jdbcType=VARCHAR},
	    </if>
	    <if test="market_value != null">
	      #{market_value,jdbcType=DOUBLE},
	    </if>
	    <if test="selling_price != null">
	      #{selling_price,jdbcType=DOUBLE},
	    </if>
	    <if test="rate != null">
	      #{rate,jdbcType=DOUBLE},
	    </if>
	    <if test="settle_price != null">
	      #{settle_price,jdbcType=DOUBLE},
	    </if>
	    <if test="status != null">
	      #{status,jdbcType=INTEGER},
	    </if>
	    <if test="stock_quantity != null">
	      #{stock_quantity,jdbcType=INTEGER},
	    </if>
	    <if test="activity_quantity != null">
	      #{activity_quantity,jdbcType=INTEGER},
	    </if>
	    	now(), now()
	  </trim>
	</insert>
  
  
  	<!--查询商品总数 -->
	<select id="queryPromotionGoodsDetailListCount" parameterType="java.util.Map" resultType="int">
		select count(1) 
			from promotion_goods_detail where
		<if test="id != null and id != ''"> id like CONCAT('%','${id}','%' ) and</if>
		<if test="goods_name != null and goods_name != ''"> goods_name like CONCAT('%','${goods_name}','%' ) and</if>
		<if test="status != null and status != ''"> status = #{status} and</if>
		 1=1 
	</select>
	
	<!--查询商品列表带分页 -->
	<select id="queryPromotionGoodsDetailListByPage" parameterType="java.util.Map"  resultType="com.antke.promotion.model.bean.PromotionCoupon">
		select <include refid="Base_Column_List" />
			from promotion_goods_detail where
		<if test="id != null and id != ''"> id like CONCAT('%','${id}','%' ) and</if>
		<if test="goods_name != null and goods_name != ''"> goods_name like CONCAT('%','${goods_name}','%' ) and</if>
		<if test="status != null and status != ''"> status = #{status} and</if>
		 1=1 order by create_date DESC
	</select>
</mapper>