<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antke.promotion.dao.PromotionGoodsDao">
	<resultMap id="BaseResultMap" type="com.antke.promotion.model.bean.PromotionGoods">
	  <id column="id" jdbcType="VARCHAR" property="id" />
	  <result column="promotion_name" jdbcType="VARCHAR" property="promotion_name" />
	  <result column="promotion_type" jdbcType="INTEGER" property="promotion_type" />
	  <result column="start_time" jdbcType="TIMESTAMP" property="start_time" />
	  <result column="end_time" jdbcType="TIMESTAMP" property="end_time" />
	  <result column="status" jdbcType="INTEGER" property="status" />
	  <result column="single_min_buy" jdbcType="INTEGER" property="single_min_buy" />
	  <result column="single_max_buy" jdbcType="INTEGER" property="single_max_buy" />
	  <result column="message" jdbcType="VARCHAR" property="message" />
	  <result column="start_time_limit" jdbcType="VARCHAR" property="start_time_limit" />
	  <result column="end_time_limit" jdbcType="VARCHAR" property="end_time_limit" />
	  <result column="expense_account" jdbcType="INTEGER" property="expense_account" />
	  <result column="source" jdbcType="INTEGER" property="source" />
	  <result column="receive_limit" jdbcType="INTEGER" property="receive_limit" />
	  <result column="buy_limit" jdbcType="INTEGER" property="buy_limit" />
	  <result column="preferential_term" jdbcType="INTEGER" property="preferential_term" />
	  <result column="preferential_value" jdbcType="VARCHAR" property="preferential_value" />
	  <result column="full_cut_value" jdbcType="DOUBLE" property="full_cut_value" />
	  <result column="total_stock" jdbcType="INTEGER" property="total_stock" />
	  <result column="remarks" jdbcType="VARCHAR" property="remarks" />
	  <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
	  <result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
	  <result column="upload_person" jdbcType="VARCHAR" property="upload_person" />
	</resultMap>
	
	<sql id="Base_Column_List">
	  id, promotion_name, promotion_type, start_time, end_time, status, single_min_buy, single_max_buy, 
	  message, start_time_limit, end_time_limit, expense_account, source, receive_limit, 
	  buy_limit, preferential_term, preferential_value, full_cut_value, total_stock, remarks, 
	  create_date, update_date, upload_person
	</sql>
	
	<!-- 根据主键进行查询 -->
	<select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
	  select 
	  <include refid="Base_Column_List" />
	  from promotion_goods
	  where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<!-- 插入 -->
	<insert id="insert" parameterType="com.antke.promotion.model.bean.PromotionGoods">
	  insert into promotion_goods (id, promotion_name, promotion_type, start_time, 
	    end_time, status, single_min_buy, 
	    single_max_buy, message, start_time_limit, 
	    end_time_limit, expense_account, source, 
	    receive_limit, buy_limit, preferential_term, 
	    preferential_value, full_cut_value, total_stock, 
	    remarks, create_date, update_date, 
	    upload_person)
	  values (#{id,jdbcType=VARCHAR}, #{promotion_name,jdbcType=VARCHAR}, #{promotion_type,jdbcType=INTEGER}, #{start_time,jdbcType=TIMESTAMP}, 
	    #{end_time,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{single_min_buy,jdbcType=INTEGER}, 
	    #{single_max_buy,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{start_time_limit,jdbcType=VARCHAR}, 
	    #{end_time_limit,jdbcType=VARCHAR}, #{expense_account,jdbcType=INTEGER}, #{source,jdbcType=INTEGER}, 
	    #{receive_limit,jdbcType=INTEGER}, #{buy_limit,jdbcType=INTEGER}, #{preferential_term,jdbcType=INTEGER}, 
	    #{preferential_value,jdbcType=VARCHAR}, #{full_cut_value,jdbcType=DOUBLE}, #{total_stock,jdbcType=INTEGER}, 
	    #{remarks,jdbcType=VARCHAR}, now(), now(), 
	    #{upload_person,jdbcType=VARCHAR})
	</insert>
	
	<!-- 选择性插入 -->
	<insert id="insertSelective" parameterType="com.antke.promotion.model.bean.PromotionGoods">
	  insert into promotion_goods
	  <trim prefix="(" suffix=")" suffixOverrides=",">
	    <if test="id != null">
	      id,
	    </if>
	    <if test="promotion_name != null">
	      promotion_name,
	    </if>
	    <if test="promotion_type != null">
	      promotion_type,
	    </if>
	    <if test="start_time != null">
	      start_time,
	    </if>
	    <if test="end_time != null">
	      end_time,
	    </if>
	    <if test="status != null">
	      status,
	    </if>
	    <if test="single_min_buy != null">
	      single_min_buy,
	    </if>
	    <if test="single_max_buy != null">
	      single_max_buy,
	    </if>
	    <if test="message != null">
	      message,
	    </if>
	    <if test="start_time_limit != null">
	      start_time_limit,
	    </if>
	    <if test="end_time_limit != null">
	      end_time_limit,
	    </if>
	    <if test="expense_account != null">
	      expense_account,
	    </if>
	    <if test="source != null">
	      source,
	    </if>
	    <if test="receive_limit != null">
	      receive_limit,
	    </if>
	    <if test="buy_limit != null">
	      buy_limit,
	    </if>
	    <if test="preferential_term != null">
	      preferential_term,
	    </if>
	    <if test="preferential_value != null">
	      preferential_value,
	    </if>
	    <if test="full_cut_value != null">
	      full_cut_value,
	    </if>
	    <if test="total_stock != null">
	      total_stock,
	    </if>
	    <if test="remarks != null">
	      remarks,
	    </if>
	    <if test="upload_person != null">
	      upload_person,
	    </if>
	      create_date, update_date,
	  </trim>
	  <trim prefix="values (" suffix=")" suffixOverrides=",">
	    <if test="id != null">
	      #{id,jdbcType=VARCHAR},
	    </if>
	    <if test="promotion_name != null">
	      #{promotion_name,jdbcType=VARCHAR},
	    </if>
	    <if test="promotion_type != null">
	      #{promotion_type,jdbcType=INTEGER},
	    </if>
	    <if test="start_time != null">
	      #{start_time,jdbcType=TIMESTAMP},
	    </if>
	    <if test="end_time != null">
	      #{end_time,jdbcType=TIMESTAMP},
	    </if>
	    <if test="status != null">
	      #{status,jdbcType=INTEGER},
	    </if>
	    <if test="single_min_buy != null">
	      #{single_min_buy,jdbcType=INTEGER},
	    </if>
	    <if test="single_max_buy != null">
	      #{single_max_buy,jdbcType=INTEGER},
	    </if>
	    <if test="message != null">
	      #{message,jdbcType=VARCHAR},
	    </if>
	    <if test="start_time_limit != null">
	      #{start_time_limit,jdbcType=VARCHAR},
	    </if>
	    <if test="end_time_limit != null">
	      #{end_time_limit,jdbcType=VARCHAR},
	    </if>
	    <if test="expense_account != null">
	      #{expense_account,jdbcType=INTEGER},
	    </if>
	    <if test="source != null">
	      #{source,jdbcType=INTEGER},
	    </if>
	    <if test="receive_limit != null">
	      #{receive_limit,jdbcType=INTEGER},
	    </if>
	    <if test="buy_limit != null">
	      #{buy_limit,jdbcType=INTEGER},
	    </if>
	    <if test="preferential_term != null">
	      #{preferential_term,jdbcType=INTEGER},
	    </if>
	    <if test="preferential_value != null">
	      #{preferential_value,jdbcType=VARCHAR},
	    </if>
	    <if test="full_cut_value != null">
	      #{full_cut_value,jdbcType=DOUBLE},
	    </if>
	    <if test="total_stock != null">
	      #{total_stock,jdbcType=INTEGER},
	    </if>
	    <if test="remarks != null">
	      #{remarks,jdbcType=VARCHAR},
	    </if>
	    <if test="upload_person != null">
	      #{upload_person,jdbcType=VARCHAR},
	    </if>
	    now(), now(), 
	  </trim>
	</insert>
	
	<!-- 根据主键选择性更新 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.antke.promotion.model.bean.PromotionGoods">
	  update promotion_goods
	  <set>
	    <if test="promotion_name != null">
	      promotion_name = #{promotion_name,jdbcType=VARCHAR},
	    </if>
	    <if test="promotion_type != null">
	      promotion_type = #{promotion_type,jdbcType=INTEGER},
	    </if>
	    <if test="start_time != null">
	      start_time = #{start_time,jdbcType=TIMESTAMP},
	    </if>
	    <if test="end_time != null">
	      end_time = #{end_time,jdbcType=TIMESTAMP},
	    </if>
	    <if test="status != null">
	      status = #{status,jdbcType=INTEGER},
	    </if>
	    <if test="single_min_buy != null">
	      single_min_buy = #{single_min_buy,jdbcType=INTEGER},
	    </if>
	    <if test="single_max_buy != null">
	      single_max_buy = #{single_max_buy,jdbcType=INTEGER},
	    </if>
	    <if test="message != null">
	      message = #{message,jdbcType=VARCHAR},
	    </if>
	    <if test="start_time_limit != null">
	      start_time_limit = #{start_time_limit,jdbcType=VARCHAR},
	    </if>
	    <if test="end_time_limit != null">
	      end_time_limit = #{end_time_limit,jdbcType=VARCHAR},
	    </if>
	    <if test="expense_account != null">
	      expense_account = #{expense_account,jdbcType=INTEGER},
	    </if>
	    <if test="source != null">
	      source = #{source,jdbcType=INTEGER},
	    </if>
	    <if test="receive_limit != null">
	      receive_limit = #{receive_limit,jdbcType=INTEGER},
	    </if>
	    <if test="buy_limit != null">
	      buy_limit = #{buy_limit,jdbcType=INTEGER},
	    </if>
	    <if test="preferential_term != null">
	      preferential_term = #{preferential_term,jdbcType=INTEGER},
	    </if>
	    <if test="preferential_value != null">
	      preferential_value = #{preferential_value,jdbcType=VARCHAR},
	    </if>
	    <if test="full_cut_value != null">
	      full_cut_value = #{full_cut_value,jdbcType=DOUBLE},
	    </if>
	    <if test="total_stock != null">
	      total_stock = #{total_stock,jdbcType=INTEGER},
	    </if>
	    <if test="remarks != null">
	      remarks = #{remarks,jdbcType=VARCHAR},
	    </if>
	    <if test="create_date != null">
	      create_date = #{create_date,jdbcType=TIMESTAMP},
	    </if>
	    <if test="upload_person != null">
	      upload_person = #{upload_person,jdbcType=VARCHAR},
	    </if>
	      update_date = now()
	  </set>
	  where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<!-- 根据主键直接更新 -->
	<update id="update" parameterType="com.antke.promotion.model.bean.PromotionGoods">
	  update promotion_goods
	  set promotion_name = #{promotion_name,jdbcType=VARCHAR},
	    promotion_type = #{promotion_type,jdbcType=INTEGER},
	    start_time = #{start_time,jdbcType=TIMESTAMP},
	    end_time = #{end_time,jdbcType=TIMESTAMP},
	    status = #{status,jdbcType=INTEGER},
	    single_min_buy = #{single_min_buy,jdbcType=INTEGER},
	    single_max_buy = #{single_max_buy,jdbcType=INTEGER},
	    message = #{message,jdbcType=VARCHAR},
	    start_time_limit = #{start_time_limit,jdbcType=VARCHAR},
	    end_time_limit = #{end_time_limit,jdbcType=VARCHAR},
	    expense_account = #{expense_account,jdbcType=INTEGER},
	    source = #{source,jdbcType=INTEGER},
	    receive_limit = #{receive_limit,jdbcType=INTEGER},
	    buy_limit = #{buy_limit,jdbcType=INTEGER},
	    preferential_term = #{preferential_term,jdbcType=INTEGER},
	    preferential_value = #{preferential_value,jdbcType=VARCHAR},
	    full_cut_value = #{full_cut_value,jdbcType=DOUBLE},
	    total_stock = #{total_stock,jdbcType=INTEGER},
	    remarks = #{remarks,jdbcType=VARCHAR},
	    create_date = #{create_date,jdbcType=TIMESTAMP},
	    update_date = now(),
	    upload_person = #{upload_person,jdbcType=VARCHAR}
	  where id = #{id,jdbcType=VARCHAR}
	</update>
  
  	<!--查询商品总数 -->
	<select id="queryPromotionGoodsListCount" parameterType="java.util.Map" resultType="int">
		select count(1) 
			from promotion_goods where
		<if test="id != null and id != ''"> id like CONCAT('%','${id}','%' ) and</if>
		<if test="promotion_name != null and promotion_name != ''"> promotion_name like CONCAT('%','${promotion_name}','%' ) and</if>
		<if test="status != null and status != ''"> status = #{status,jdbcType=INTEGER} and</if>
		<if test="promotion_type != null and promotion_type != ''"> promotion_type = #{promotion_type,jdbcType=INTEGER} and</if>
		<if test="expense_account != null and expense_account != ''"> expense_account = #{expense_account,jdbcType=INTEGER} and</if>
		<if test="start_start_time != null and start_start_time != ''"> start_time &gt;= #{start_start_time,jdbcType=TIMESTAMP} and</if>
		<if test="end_start_time != null and end_start_time != ''"> start_time &lt;= #{end_start_time,jdbcType=TIMESTAMP} and</if>
		<if test="start_end_time != null and start_end_time != ''"> end_time &gt;= #{start_end_time,jdbcType=TIMESTAMP} and</if>
		<if test="end_end_time != null and end_end_time != ''"> end_time &lt;= #{end_end_time,jdbcType=TIMESTAMP} and</if>
		 1=1 
	</select>
	
	<!--查询商品列表带分页 -->
	<select id="queryPromotionGoodsListByPage" parameterType="java.util.Map"  resultType="com.antke.promotion.model.bean.PromotionGoods">
		select <include refid="Base_Column_List" />
			from promotion_goods where
		<if test="id != null and id != ''"> id like CONCAT('%','${id}','%' ) and</if>
		<if test="promotion_name != null and promotion_name != ''"> promotion_name like CONCAT('%','${promotion_name}','%' ) and</if>
		<if test="status != null and status != ''"> status = #{status,jdbcType=INTEGER} and</if>
		<if test="promotion_type != null and promotion_type != ''"> promotion_type = #{promotion_type,jdbcType=INTEGER} and</if>
		<if test="expense_account != null and expense_account != ''"> expense_account = #{expense_account,jdbcType=INTEGER} and</if>
		<if test="start_start_time != null and start_start_time != ''"> start_time &gt;= #{start_start_time,jdbcType=TIMESTAMP} and</if>
		<if test="end_start_time != null and end_start_time != ''"> start_time &lt;= #{end_start_time,jdbcType=TIMESTAMP} and</if>
		<if test="start_end_time != null and start_end_time != ''"> end_time &gt;= #{start_end_time,jdbcType=TIMESTAMP} and</if>
		<if test="end_end_time != null and end_end_time != ''"> end_time &lt;= #{end_end_time,jdbcType=TIMESTAMP} and</if>
		 1=1 order by create_date DESC
	</select>
</mapper>