<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antke.promotion.dao.PromotionCouponBatchDao">
	
	<!-- 添加优惠券批次信息 -->
	<insert id="insert" parameterType="com.antke.promotion.model.bean.PromotionCouponBatch">
		insert into promotion_coupon_batch
		(
			id, pc_id,
			<if test="collection_time != null and collection_time != ''"> collection_time,</if>
			<if test="status != null and status != ''"> status,</if>
			<if test="user_id != null and user_id != ''"> user_id,</if>
			<if test="coupon_code != null and coupon_code != ''"> coupon_code,</if>
			create_date, update_date
		)
		VALUES(
			#{id}, #{pc_id}, 
			<if test="collection_time != null and collection_time != ''">#{collection_time},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="user_id != null and user_id != ''">#{user_id},</if>
			<if test="coupon_code != null and coupon_code != ''">#{coupon_code},</if>
			now(),now()
		)
	</insert>
	<sql id="Base_Column_List">
		pcb.id, pcb.pc_id, pcb.collection_time, pcb.status, pcb.create_date, pcb.update_date,user_id,coupon_code
	</sql>
	<!--查询优惠券批次信息 -->
	<select id="get" parameterType="java.lang.String" resultType="com.antke.promotion.model.bean.PromotionCouponBatch">
		select 
			<include refid="Base_Column_List"/>
		from promotion_coupon_batch pcb
		where id = #{coupon_batch_id}
	</select>
	
	<!-- 更新优惠券批次信息 -->
	<update id="update" parameterType="com.antke.promotion.model.bean.PromotionCouponBatch">
		update promotion_coupon_batch 
		<set>
			<if test="collection_time != null and collection_time != ''">collection_time = #{collection_time},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="user_id != null and user_id != ''">user_id = #{user_id},</if>
			<if test="coupon_code != null and coupon_code != ''">coupon_code = #{coupon_code},</if>
			update_date = now()
		</set>
		where id = #{id}
	</update>
	
	
	<!--查询优惠券批次信息总数 -->
	<select id="queryPromotionCouponBatchListCount" parameterType="java.util.Map" resultType="int">
		select count(1) 
			from promotion_coupon_batch pcb, promotion_coupon pc where
			pcb.pc_id = pc.id and 
		<if test="id != null and id != ''"> pcb.id like CONCAT('%','${id}','%' ) and</if>
		<if test="pc_id != null and pc_id != ''"> pcb.pc_id = #{pc_id} and</if>
		<if test="status != null and status != ''"> pcb.status = #{status} and</if>
		<if test="user_id != null and user_id != ''"> pcb.user_id = #{user_id} and</if>
		<if test="coupon_code != null and coupon_code != ''"> pcb.coupon_code = #{coupon_code} and</if>
		 1=1 
	</select>
	
	<!--查询优惠券批次信息列表带分页 -->
	<select id="queryPromotionCouponBatchListByPage" parameterType="java.util.Map"  resultType="com.antke.promotion.model.bean.PromotionCouponBatch">
		select <include refid="Base_Column_List"/>, pc.coupon_name, pc.type, pc.amount, pc.start_time, pc.end_time 
			from promotion_coupon_batch pcb, promotion_coupon pc where
			pcb.pc_id = pc.id and 
		<if test="id != null and id != ''"> pcb.id like CONCAT('%','${id}','%' ) and</if>
		<if test="pc_id != null and pc_id != ''"> pcb.pc_id = #{pc_id} and</if>
		<if test="status != null and status != ''"> pcb.status = #{status} and</if>
		<if test="user_id != null and user_id != ''"> pcb.user_id = #{user_id} and</if>
		<if test="coupon_code != null and coupon_code != ''"> pcb.coupon_code = #{coupon_code} and</if>
		 1=1 order by pcb.id ASC
	</select>
	<!--查询优惠券批次使用情况 -->
	<select id="queryPromotionCouponBatchCountByStatus" parameterType="java.util.Map"  resultType="int">
		SELECT
			COUNT(*)
		FROM
			promotion_coupon_batch
		WHERE
			pc_id = #{pc_id} and 
			<if test="user_id != null and user_id != ''"> user_id IS NOT NULL and</if>
			<if test="status != null and status != ''"> status = #{status} and</if>
			1=1
	</select>
</mapper>