<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antke.promotion.dao.PromotionCouponDao">
	
	<!-- 添加商品信息 -->
	<insert id="insert" parameterType="com.antke.promotion.model.bean.PromotionCoupon">
		insert into promotion_coupon
		(
			<if test="id != null and id != ''">id,</if>
			<if test="upload_person != null and upload_person != ''">upload_person,</if>
			<if test="coupon_name != null and coupon_name != ''">coupon_name,</if>
			<if test="use_quantity != null and use_quantity != ''">use_quantity,</if>
			<if test="amount != null and amount != ''">amount,</if>
			<if test="use_restrictions != null and use_restrictions != ''">use_restrictions,</if>
			<if test="status != null and status != ''">status,</if>
			<if test="start_time != null and start_time != ''">start_time,</if>
			<if test="end_time != null and end_time != ''">end_time,</if>
			<if test="type != null and type != ''">type,</if>
			<if test="expense_account != null and expense_account != ''">expense_account,</if>
			<if test="coupon_method != null and coupon_method != ''">coupon_method,</if>
			<if test="quantity != null and quantity != ''">quantity,</if>
			<if test="receive_limit != null and receive_limit != ''">receive_limit,</if>
			<if test="remarks != null and remarks != ''">remarks,</if>
			<if test="full_count != null and full_count != ''">full_count,</if>
			create_date,update_date
		)
		VALUES(
			<if test="id != null and id != ''">#{id},</if>
			<if test="upload_person != null and upload_person != ''">#{upload_person},</if>
			<if test="coupon_name != null and coupon_name != ''">#{coupon_name},</if>
			<if test="use_quantity != null and use_quantity != ''">#{use_quantity},</if>
			<if test="amount != null and amount != ''">#{amount},</if>
			<if test="use_restrictions != null and use_restrictions != ''">#{use_restrictions},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="start_time != null and start_time != ''">#{start_time},</if>
			<if test="end_time != null and end_time != ''">#{end_time},</if>
			<if test="type != null and type != ''">#{type},</if>
			<if test="expense_account != null and expense_account != ''">#{expense_account},</if>
			<if test="coupon_method != null and coupon_method != ''">#{coupon_method},</if>
			<if test="quantity != null and quantity != ''">#{quantity},</if>
			<if test="receive_limit != null and receive_limit != ''">#{receive_limit},</if>
			<if test="remarks != null and remarks != ''">#{remarks},</if>
			<if test="full_count != null and full_count != ''">#{full_count},</if>
			now(),now()
		)
	</insert>
	<sql id="Base_Column_List">
		id, create_date, update_date, upload_person, coupon_name, use_quantity, amount, use_restrictions,
		status, start_time, end_time, type, expense_account, coupon_method, quantity, receive_limit, remarks,full_count
	</sql>
	<!--查询品牌信息 -->
	<select id="get" parameterType="java.util.Map" resultType="com.antke.promotion.model.bean.PromotionCoupon">
		select 
			<include refid="Base_Column_List"/>
		from promotion_coupon
		where id = #{id}
	</select>
	
	<!-- 更新品牌信息 -->
	<update id="update" parameterType="com.antke.promotion.model.bean.PromotionCoupon">
		update promotion_coupon 
		<set>
			<if test="coupon_name != null and coupon_name != ''">coupon_name = #{coupon_name},</if>
			<if test="use_quantity != null and use_quantity != ''">use_quantity = #{use_quantity},</if>
			<if test="amount != null and amount != ''">amount = #{amount},</if>
			<if test="use_restrictions != null and use_restrictions != ''">use_restrictions = #{use_restrictions},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="start_time != null and start_time != ''">start_time = #{start_time},</if>
			<if test="end_time != null and end_time != ''">end_time = #{end_time},</if>
			<if test="type != null and type != ''">type = #{type},</if>
			<if test="expense_account != null and expense_account != ''">expense_account = #{expense_account},</if>
			<if test="coupon_method != null and coupon_method != ''">coupon_method = #{coupon_method},</if>
			<if test="quantity != null and quantity != ''">quantity = #{quantity},</if>
			<if test="receive_limit != null and receive_limit != ''">receive_limit = #{receive_limit},</if>
			<if test="remarks != null and remarks != ''">remarks = #{remarks},</if>
			<if test="full_count != null and full_count != ''">full_count = #{full_count},</if>
			update_date = now()
		</set>
		where id = #{id}
	</update>
	
	
	<!--查询商品总数 -->
	<select id="queryPromotionCouponListCount" parameterType="java.util.Map" resultType="int">
		select count(1) 
			from promotion_coupon where
		<if test="id != null and id != ''"> id like CONCAT('%','${id}','%' ) and</if>
		<if test="coupon_name != null and coupon_name != ''"> coupon_name like CONCAT('%','${coupon_name}','%' ) and</if>
		<if test="start_start_time != null and start_start_time != ''"> start_time &gt;= #{start_start_time} and</if>
		<if test="end_start_time != null and end_start_time != ''"> start_time &lt;= #{end_start_time} and</if>
		<if test="type != null and type != ''"> type = #{type} and</if>
		<if test="expense_account != null and expense_account != ''"> expense_account = #{expense_account} and</if>
		<if test="full_count != null and full_count != ''"> full_count = #{full_count} and</if>
		store_id is null and
		 1=1 
	</select>
	
	<!--查询商品列表带分页 -->
	<select id="queryPromotionCouponListByPage" parameterType="java.util.Map"  resultType="com.antke.promotion.model.bean.PromotionCoupon">
		select <include refid="Base_Column_List" />
			from promotion_coupon where
		<if test="id != null and id != ''"> id like CONCAT('%','${id}','%' ) and</if>
		<if test="coupon_name != null and coupon_name != ''"> coupon_name like CONCAT('%','${coupon_name}','%' ) and</if>
		<if test="start_start_time != null and start_start_time != ''"> start_time &gt;= #{start_start_time} and</if>
		<if test="end_start_time != null and end_start_time != ''"> start_time &lt;= #{end_start_time} and</if>
		<if test="type != null and type != ''"> type = #{type} and</if>
		<if test="expense_account != null and expense_account != ''"> expense_account = #{expense_account} and</if>
		<if test="full_count != null and full_count != ''"> full_count = #{full_count} and</if>
		store_id is null and
		 1=1 order by create_date DESC
	</select>
</mapper>