<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antke.website.dao.AttributeRelationDao">

	<!-- 新增属性信息 -->
	<insert id="insertAttributeRelation" parameterType="com.antke.website.model.bean.AttributeRelation">
		INSERT INTO attribute_relation
		(
		<if test="relation_id != null">relation_id,</if>
		<if test="attr_id != null">attr_id,</if>
		<if test="value_id != null">value_id,</if>
		<if test="category_id != null">category_id</if>
		)
		VALUES(
		<if test="relation_id != null">#{relation_id},</if>
		<if test="attr_id != null">#{attr_id},</if>
		<if test="value_id != null">#{value_id},</if>
		<if test="category_id != null">#{category_id}</if>
		)
	</insert>

	<!-- 更新属性信息 -->
	<update id="updateAttributeRelation" parameterType="com.antke.website.model.bean.AttributeRelation">
		update attribute_relation
		<set>
			<if test="value_id != null and value_id != ''">value_id = #{value_id},</if>
			<if test="category_id != null and category_id != ''">category_id = #{category_id}</if>
		</set>
		where 
			<if test="relation_id != null and relation_id != ''">relation_id = #{relation_id} and </if>
			<if test="attr_id != null and attr_id != ''">attr_id = #{attr_id}</if>
	</update>
	
	
	<!--查询分类属性列表 -->
	<!-- <select id="queryAttributeList" parameterType="java.util.Map"
		resultType="com.antke.website.model.bean.Attribute">
		select distinct a.attr_id,a.attr_name from 
		attribute_relation ar,attribute a where ar.attr_id = a.attr_id and
		<if test="category_id != null and category_id != ''">ar.category_id = #{category_id} and</if>
		 a.status = 1 AND
		 1=1 
	</select> -->
	
	
	<!--查询属性信息列表 -->
	<!-- <select id="queryAttributeRelationList" parameterType="java.util.Map"
		resultType="com.antke.website.model.bean.AttributeRelation">
		select  ar.relation_id,a.attr_id,a.attr_name,a.status,a.create_date,a.update_date,a.upload_person,av.value_id, av.value_name,ar.category_id 
		from attribute a ,attribute_relation  ar , attribute_value av
 		where a.attr_id = ar.attr_id and  ar.value_id = av.value_id and
		<if test="attr_id != null and attr_id != ''">a.attr_id = #{attr_id} and</if>
		<if test="status != null ">a.status = #{status} and</if>		
		1=1
	</select> -->

	<!--查询属性ID列表 -->
	<!-- <select id="queryAttributeRelationList1" parameterType="java.util.Map"
		resultType="java.util.Map">
		Select
		attr_id
		from attribute_relation 
	</select> -->

	<!--查询属性值ID列表 -->
	<!-- <select id="queryAttributeRelationList2" parameterType="java.util.Map"
		resultType="java.util.Map">
		Select
		value_id
		from attribute_relation 
		where
		<if test="attr_id != null and attr_id != ''">attr_id = #{attr_id} and </if>
		1=1
	</select> -->

	<!-- 查询属性信息 -->
	            
	<!-- <select id="queryAttributeRelation" parameterType="java.util.Map"
		resultType="com.antke.website.model.bean.AttributeRelation">
		Select
		iar.relation_id,iar.category_id, ia.attr_name, iav.value_name,ia.status,ia.create_date,ia.update_date,ia.upload_person,ia.attr_id,iav.value_id
		from attribute_relation as iar left join attribute_value as iav on iav.value_id = iar.value_id left join attribute as ia on ia.attr_id = iar.attr_id
		where
		<if test="relation_id != null and relation_id != ''">iar.relation_id = #{relation_id} and</if>
		<if test="attr_name != null and attr_name != ''">ia.attr_name like CONCAT('%','${attr_name}','%' ) and</if>		
		<if test="attr_id != null and attr_id != ''">iar.attr_id = #{attr_id} and</if>	
		<if test="value_name != null and value_name != ''">iav.value_name = #{value_name} and</if>	
		<if test="category_id != null and category_id != ''">iar.category_id = #{category_id} and</if>	
		<if test="status != null ">ia.status = #{status} and</if>		
		1=1 
	</select> -->

	<!-- 查询属性信息列表总数 -->
	<!-- <select id="queryAttributeRelationListCount" parameterType="java.util.Map"
		resultType="int">
		Select
		count(a.attr_id)
		from attribute a 
        LEFT JOIN attribute_relation ar ON ar.attr_id = a.attr_id
		LEFT JOIN goods_category c ON c.category_id = ar.category_id
		LEFT JOIN goods_category ca ON ca.category_id = c.parent_id 
		left join bus_worker w on  a.upload_person = w.worker_id
		where
		<if test="attr_name != null and attr_name != ''">attr_name like CONCAT('%','${attr_name}','%' ) and</if>		
		<if test="status != null ">a.status = #{status} and</if>	
		1=1  and ar.category_id is not null and c.parent_id is not null
	</select> -->

	<!-- 查询属性信息列表带分页 -->
	<!-- <select id="queryAttributeRelationListByPage" parameterType="java.util.Map"
		resultType="com.antke.website.model.bean.AttributeRelation">
		Select
		a.attr_id,a.attr_name,a.create_date,a.update_date,a.status,
		c.parent_id,ar.category_id,c.category_name,w.worker_name as upload_person,av.value_name
		from attribute a 
        LEFT JOIN attribute_relation ar ON ar.attr_id = a.attr_id
		LEFT JOIN goods_category c ON c.category_id = ar.category_id
		LEFT JOIN goods_category ca ON ca.category_id = c.parent_id 
		left join bus_worker w on  a.upload_person = w.worker_id
		LEFT JOIN attribute_value av ON ar.value_id=av.value_id
		where
		<if test="attr_name != null and attr_name != ''">attr_name like CONCAT('%','${attr_name}','%' ) and</if>	
		<if test="category_name != null and category_name !='' ">c.category_name like CONCAT ('%','${category_name}','%' ) and</if>	
		<if test="status != null ">a.status = #{status} and</if>	
		1=1  and ar.category_id is not null and c.parent_id is not null
		order by a.update_date desc
	</select>

	<select id="deleteAttributeRelation" parameterType="java.util.Map" >
			delete
			from attribute_relation
			where
	    	relation_id = #{relation_id}
		</select>
	
	<select id="queryAttributeValueList" parameterType="java.util.Map" resultType="com.antke.website.model.bean.AttributeValue">
		SELECT
	    	ar.relation_id,
			ar.value_id,
			a.value_name
		FROM
			attribute_relation ar
		LEFT JOIN attribute_value a ON ar.value_id = a.value_id
		where 
		<if test="attr_id != null and attr_id != ''">ar.attr_id  = #{attr_id} and</if>
		 1=1 
	</select>
	
		<select id="queryCateExtendAttrIsExist" parameterType="java.lang.String" resultType="com.antke.website.model.bean.AttributeRelation">
		SELECT
	    	*
		FROM
			attribute_relation  
		where 
		category_id  = #{category_id} 
	</select> -->
</mapper>