<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.AttributeDao">

	<!-- 新增分类信息 -->
	<insert id="insertAttribute" parameterType="com.website.bean.Attribute" useGeneratedKeys="true" keyProperty="attr_id">
		INSERT INTO attribute
		(
		<if test="attr_name != null">attr_name,</if>
		<if test="status != null">status,</if>
		<if test="upload_person != null">upload_person,</if>
		<if test="sort != null">sort,</if>
		create_date,update_date
		)
		values(
		<if test="attr_name != null">#{attr_name},</if>
		<if test="status != null">#{status},</if>
		<if test="upload_person != null">#{upload_person},</if>
		<if test="sort != null">#{sort},</if>
		#{create_date},#{update_date}
		)
	</insert>

	<!-- 更新分类信息 -->
	<update id="updateAttribute" parameterType="com.website.bean.Attribute">
		update attribute
		<set>
			<if test="attr_name != null and attr_name != ''">attr_name = #{attr_name},</if>
			<if test="upload_person != null">upload_person = #{upload_person},</if>
			<if test="status != null">status = #{status},</if>
			<if test="sort != null">sort = #{sort},</if>
			update_date = #{update_date}
		</set>
		where attr_id = #{attr_id}
	</update>
	
	
		<!--查询属性信息列表 -->
	<select id="queryAttributeList" parameterType="java.util.Map"
		resultType="java.util.Map">
		Select
		attr_name,status,attr_id,sort
		from attribute
		where
		<if test="relation_id != null and relation_id != ''">relation_id = #{relation_id} and</if>
		<if test="attr_name != null and attr_name != ''">attr_name like CONCAT('%','${attr_name}','%' ) and</if>		
		<if test="value_name != null and value_name != ''">value_name = #{value_name} and</if>		
		<if test="status != null and status != ''">status = #{status} and</if>		
		<if test="sort != null and sort != ''">sort = #{sort} and</if>		
		1=1
	</select>
	
		<!--查询属性名称列表 -->
	<select id="queryAttributeList1" parameterType="java.util.Map"
		resultType="java.util.Map">
		Select
		attr_id
		from attribute
		where
		<if test="attr_name != null and attr_name != ''">attr_name like CONCAT('%','${attr_name}','%' ) and</if>
		1=1
	</select>
	
	
			<!--查询属性信息 -->
	<select id="queryAttribute" parameterType="java.util.Map"
		resultType="com.website.bean.Attribute">
		Select
		attr_name,status,attr_id,create_date,update_date,sort
		from attribute
		where
		<if test="attr_id != null and attr_id != ''">attr_id = #{attr_id} and</if>
		<if test="attr_name != null and attr_name != ''">attr_name = #{attr_name} and</if>
		1=1
	</select>
	
	
	
	<!--查询分类属性信息 -->
	<select id="queryCategoryAttr" parameterType="java.util.Map"
		resultType="java.util.Map">
		Select
			a.attr_name,a.attr_id
		from category_attr ca,attribute a
		where
			ca.attr_id = a.attr_id and 
		<if test="status != null and status != ''">status = #{status} and</if>
		<if test="category_id != null and category_id != ''">category_id = #{category_id} and</if>
		1=1
	</select>
	
	<!--查询属性值信息列表 -->
	<select id="queryAttrValueList" parameterType="java.util.Map"
		resultType="java.util.Map">
		Select
		ar.relation_id,av.value_id,av.value_name
		from attribute_value av,attribute_relation ar 
		where ar.value_id = av.value_id and 
		<if test="attr_id != null and attr_id != ''">ar.attr_id= #{attr_id} and</if>
		1=1
	</select>
	
	
	
	
	
	<delete id="deleteAttribute" parameterType="java.lang.String">
		delete form attribute where attr_id = #{attr_id}
	</delete>

</mapper>