<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.FrequencyGoodsRelationMapper">
  <resultMap id="BaseResultMap" type="com.website.model.bean.FrequencyGoodsRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="frequency_id" jdbcType="INTEGER" property="frequencyId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, frequency_id, goods_id, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from frequency_goods_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.website.model.bean.FrequencyGoodsRelation">
    insert into frequency_goods_relation (id, frequency_id, goods_id, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{frequencyId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.website.model.bean.FrequencyGoodsRelation">
    insert into frequency_goods_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="frequencyId != null">
        frequency_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="frequencyId != null">
        #{frequencyId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.website.model.bean.FrequencyGoodsRelation">
    update frequency_goods_relation
    <set>
      <if test="frequencyId != null">
        frequency_id = #{frequencyId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.website.model.bean.FrequencyGoodsRelation">
    update frequency_goods_relation
    set frequency_id = #{frequencyId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    
     <select id="getFrequencyGoodsRelationListById" parameterType="java.util.Map"
		resultType="java.util.Map">
 
			SELECT
				fgr.goods_id,
				gi.goods_name
			FROM
				frequency_goods_relation fgr
			LEFT JOIN goods_info gi ON fgr.goods_id = gi.goods_id
			WHERE
			fgr.frequency_id = #{frequency_id}

	</select>
	
	<delete id="deleteFrequencyGoodsRelationById" parameterType="java.lang.Integer">
      delete
		from frequency_goods_relation
		where
		frequency_id = #{id} 
   </delete>
   
</mapper>