<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antke.website.dao.FrequencyCategoryRelationMapper">
  <resultMap id="BaseResultMap" type="com.antke.website.model.bean.FrequencyCategoryRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="frequency_id" jdbcType="INTEGER" property="frequencyId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, frequency_id, category_id, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from frequency_category_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.antke.website.model.bean.FrequencyCategoryRelation">
    insert into frequency_category_relation (id, frequency_id, category_id, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{frequencyId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.antke.website.model.bean.FrequencyCategoryRelation">
    insert into frequency_category_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="frequencyId != null">
        frequency_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="frequencyId != null">
        #{frequencyId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.antke.website.model.bean.FrequencyCategoryRelation">
    update frequency_category_relation
    <set>
      <if test="frequencyId != null">
        frequency_id = #{frequencyId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.antke.website.model.bean.FrequencyCategoryRelation">
    update frequency_category_relation
    set frequency_id = #{frequencyId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
     <select id="getFrequencyCategoryRelationListById" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
			fcr.category_id,
			gc.category_name
		FROM
			frequency_category_relation fcr
		LEFT JOIN goods_category gc ON fcr.category_id = gc.category_id
		WHERE
			fcr.frequency_id = #{frequency_id}
	</select>
	
	<delete id="deleteFrequencyCategoryRelationById" parameterType="java.lang.Integer">
      delete
		from frequency_category_relation
		where
		frequency_id = #{id} 
   </delete>
   
</mapper>