<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.GoodsRelationMapper">
  <resultMap id="BaseResultMap" type="com.website.bean.GoodsRelation">
    <id column="relation_id" jdbcType="INTEGER" property="relationId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    relation_id, category_id, goods_id, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_relation
    where relation_id = #{relationId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.website.bean.GoodsRelation">
    insert into goods_relation (relation_id, category_id, goods_id, 
      create_date, update_date)
    values (#{relationId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.website.bean.GoodsRelation">
    insert into goods_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relationId != null">
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.website.bean.GoodsRelation">
    update goods_relation
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.website.bean.GoodsRelation">
    update goods_relation
    set category_id = #{categoryId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>
  
    <delete id="deleteGoodsRelationByGoodsId" parameterType="int">
      delete
		from goods_relation
		where
		goods_id = #{goodsId}  
   </delete>
  
</mapper>