<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.GoodsSkuRelationMapper">
  <resultMap id="BaseResultMap" type="com.website.model.bean.GoodsSkuRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="relation_id" jdbcType="INTEGER" property="relationId" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_id, relation_id, img, create_date, update_date, goods_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_sku_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.website.model.bean.GoodsSkuRelation">
    insert into goods_sku_relation (id, sku_id, relation_id, 
      img, create_date, update_date, 
      goods_id)
    values (#{id,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{relationId,jdbcType=INTEGER}, 
      #{img,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{goodsId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.website.model.bean.GoodsSkuRelation">
    insert into goods_sku_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="relationId != null">
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.website.model.bean.GoodsSkuRelation">
    update goods_sku_relation
    <set>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="relationId != null">
        relation_id = #{relationId,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.website.model.bean.GoodsSkuRelation">
    update goods_sku_relation
    set sku_id = #{skuId,jdbcType=INTEGER},
      relation_id = #{relationId,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      goods_id = #{goodsId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getGoodsAttrList" parameterType="java.util.Map"
		resultType="java.util.Map">
			 SELECT
				gsr.goods_id,
			    gsr.relation_id,
				ar.attr_id,
			a.attr_name
			FROM
				goods_sku_relation gsr
			LEFT JOIN attribute_relation ar on ar.relation_id =gsr.relation_id
			LEFT JOIN attribute a on ar.attr_id =a.attr_id
			WHERE
				<if test="goods_id != null and goods_id != ''"> gsr.goods_id = #{goods_id} and</if>
			  a.status =1
			  GROUP BY ar.attr_id
	</select>
	
	  <select id="getAttrValueList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			gsr.goods_id,
			gsr.relation_id,
			ar.attr_id,
			ar.value_id,
			av.value_name
		FROM
			goods_sku_relation gsr
		LEFT JOIN attribute_relation ar ON ar.relation_id = gsr.relation_id
		LEFT JOIN attribute_value av ON ar.value_id = av.value_id
		WHERE
		<if test="goods_id != null and goods_id != ''"> gsr.goods_id = #{goods_id} and</if>
		<if test="attr_id != null and attr_id != ''"> ar.attr_id = #{attr_id} and</if>
		1=1
		GROUP BY
			ar.value_id
	</select>
	
	
	  <select id="getSkuValueList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			gsr.*, ar.value_id,
			av.value_name
		FROM
			goods_sku_relation gsr
		LEFT JOIN attribute_relation ar ON gsr.relation_id = ar.relation_id
		LEFT JOIN attribute_value av ON ar.value_id = av.value_id
		WHERE
		<if test="sku_id != null and sku_id != ''"> gsr.sku_id = #{sku_id} and</if>
		1=1
		 
	</select>
	
	   <delete id="deleteGoodsSkuRelationByGoodsId" parameterType="java.lang.Integer">
      delete
		from goods_sku_relation
		where
		goods_id = #{goods_id}
   </delete>
   
     <select id="querySkuGoodsByAttrId" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
			gsr.sku_id,
		gsr.goods_id
		FROM
		goods_sku_relation gsr
		LEFT JOIN 	attribute_relation ar on gsr.relation_id =ar.relation_id
		where   ar.attr_id=#{attrId}
		 
	</select>
	
</mapper>