<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antke.website.dao.GoodsLabelMapper">
  <resultMap id="BaseResultMap" type="com.antke.website.model.bean.GoodsLabel">
    <id column="label_id" jdbcType="INTEGER" property="labelId" />
    <result column="label_name" jdbcType="VARCHAR" property="labelName" />
    <result column="label_pic" jdbcType="VARCHAR" property="labelPic" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    label_id, label_name, label_pic, status, create_date, update_date, operator
  </sql>
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_label
    where 
    <if test="labelId != null">
        label_id = #{labelId,jdbcType=INTEGER} and
    </if>
    1=1
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_label
    where label_id = #{labelId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.antke.website.model.bean.GoodsLabel" useGeneratedKeys="true" keyProperty="id">
    insert into goods_label (label_id, label_name, label_pic, 
      status, create_date, update_date, 
      operator)
    values (#{labelId,jdbcType=INTEGER}, #{labelName,jdbcType=VARCHAR}, #{labelPic,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.antke.website.model.bean.GoodsLabel" useGeneratedKeys="true" keyProperty="labelId">
    insert into goods_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="labelId != null">
        label_id,
      </if>
      <if test="labelName != null">
        label_name,
      </if>
      <if test="labelPic != null">
        label_pic,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="operator != null">
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="labelId != null">
        #{labelId,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelPic != null">
        #{labelPic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.antke.website.model.bean.GoodsLabel">
    update goods_label
    <set>
      <if test="labelName != null">
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelPic != null">
        label_pic = #{labelPic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where label_id = #{labelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.antke.website.model.bean.GoodsLabel">
    update goods_label
    set label_name = #{labelName,jdbcType=VARCHAR},
      label_pic = #{labelPic,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR}
    where label_id = #{labelId,jdbcType=INTEGER}
  </update>
</mapper>