<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.OrderItemsMapper">
  <resultMap id="BaseResultMap" type="com.website.model.bean.OrderItems">
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_num" jdbcType="INTEGER" property="goodsNum" />
    <result column="total_money" jdbcType="DOUBLE" property="totalMoney" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="region_price" jdbcType="DOUBLE" property="regionPrice" />
    <result column="vip_price" jdbcType="DOUBLE" property="vipPrice" />
    <result column="goods_pic" jdbcType="VARCHAR" property="goodsPic" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="ad_words" jdbcType="VARCHAR" property="adWords" />
    
  </resultMap>
  <sql id="Base_Column_List">
    item_id, order_id, goods_id, sku_id, goods_name, goods_num, total_money, create_date, 
    update_date, user_id, region_price, vip_price,description,ad_words
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_items
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.website.model.bean.OrderItems">
    insert into order_items (item_id, order_id, goods_id, 
      sku_id, goods_name, goods_num, 
      total_money, create_date, update_date, 
      user_id, region_price, vip_price
      )
    values (#{itemId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{skuId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsNum,jdbcType=INTEGER}, 
      #{totalMoney,jdbcType=DOUBLE}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{regionPrice,jdbcType=DOUBLE}, #{vipPrice,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.website.model.bean.OrderItems">
    insert into order_items
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        item_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsNum != null">
        goods_num,
      </if>
      <if test="totalMoney != null">
        total_money,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="regionPrice != null">
        region_price,
      </if>
      <if test="vipPrice != null">
        vip_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=DOUBLE},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="regionPrice != null">
        #{regionPrice,jdbcType=DOUBLE},
      </if>
      <if test="vipPrice != null">
        #{vipPrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.website.model.bean.OrderItems">
    update order_items
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        goods_num = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=DOUBLE},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="regionPrice != null">
        region_price = #{regionPrice,jdbcType=DOUBLE},
      </if>
      <if test="vipPrice != null">
        vip_price = #{vipPrice,jdbcType=DOUBLE},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.website.model.bean.OrderItems">
    update order_items
    set order_id = #{orderId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_num = #{goodsNum,jdbcType=INTEGER},
      total_money = #{totalMoney,jdbcType=DOUBLE},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      region_price = #{regionPrice,jdbcType=DOUBLE},
      vip_price = #{vipPrice,jdbcType=DOUBLE}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  
  <select id="selectOrderItemsByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
   	*
    from order_items
    where 
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER}
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER}
      </if>
  </select>
  
  <select id="selectOrderItemsById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    	oi.*,gs.goods_pic,g.description,g.ad_words
    from order_items oi,team_goods_sku gs,goods_info g
    where 
    oi.sku_id = gs.sku_id and gs.goods_id = g.goods_id and
    oi.order_id = #{orderId,jdbcType=INTEGER}
  </select>
  
</mapper>