<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.PlatTeamMapper">
	<resultMap id="BaseResultMap"
		type="com.website.model.bean.PlatTeam">
		<result column="pteam_id" jdbcType="INTEGER" property="pteamId" />
		<result column="team_code" jdbcType="VARCHAR"
			property="teamCode" />
		<result column="team_name" jdbcType="VARCHAR"
			property="teamName" />
		<result column="start_time" jdbcType="TIMESTAMP"
			property="startTime" />
		<result column="end_time" jdbcType="TIMESTAMP"
			property="endTime" />
		<result column="team_type" jdbcType="INTEGER"
			property="teamType" />
		<result column="contact" jdbcType="VARCHAR" property="contact" />
		<result column="create_date" jdbcType="TIMESTAMP"
			property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP"
			property="updateDate" />
		<result column="see_num" jdbcType="INTEGER" property="seeNum" />
		<result column="region_type" jdbcType="INTEGER"
			property="regionType" />
		<result column="logistics_type" jdbcType="INTEGER"
			property="logisticsType" />
		<result column="create_user" jdbcType="VARCHAR"
			property="createUser" />
	</resultMap>
	<sql id="Base_Column_List">
		pteam_id, team_code, team_name, start_time, end_time, contact, create_date,
		update_date,see_num,logistics_type,create_user
	</sql>


	<insert id="newPlatTeam"
		parameterType="com.website.model.bean.PlatTeam"
		useGeneratedKeys="true" keyProperty="pteamId">
		insert into plat_team
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pteamId != null and pteamId  !=''">
				pteam_id,
			</if>
			<if test="teamCode != null and  teamCode !=''">
				team_code,
			</if>
			<if test="teamName != null and teamName  !=''">
				team_name,
			</if>
			<if test="startTime != null and  startTime !=''">
				start_time,
			</if>
			<if test="endTime != null and endTime  !=''">
				end_time,
			</if>
			<if test="teamType != null and teamType  !=''">
				team_type,
			</if>
			<if test="contact != null and contact  !=''">
				contact,
			</if>
			<if test="createDate != null and createDate  !=''">
				create_date,
			</if>
			<if test="updateDate != null and  updateDate !=''">
				update_date,
			</if>
			<if test="seeNum != null and seeNum  !=''">
				see_num,
			</if>
			<if test="regionType != null and regionType  !=''">
				region_type,
			</if>
			<if test="logisticsType != null and logisticsType  !=''">
				logistics_type,
			</if>
			<if test="createUser != null and createUser  !=''">
				create_user,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pteamId != null and pteamId  !=''">
				#{pteamId,jdbcType=INTEGER},
			</if>
			<if test="teamCode != null and teamCode  !=''">
				#{teamCode,jdbcType=VARCHAR},
			</if>
			<if test="teamName != null and teamName  !=''">
				#{teamName,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null and startTime  !=''">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null and  endTime !=''">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="teamType != null and teamType  !=''">
				#{teamType,jdbcType=INTEGER},
			</if>
			<if test="contact != null and contact  !=''">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null and  createDate !=''">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null and  updateDate !=''">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="seeNum != null and  seeNum !=''">
				#{seeNum,jdbcType=INTEGER},
			</if>
			<if test="regionType != null and  regionType !=''">
				#{regionType,jdbcType=INTEGER},
			</if>
			<if test="logisticsType != null and  logisticsType !=''">
				#{logisticsType,jdbcType=INTEGER},
			</if>
			<if test="createUser != null and createUser  !=''">
				#{createUser,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updatePlatTeam" parameterType="com.website.model.bean.PlatTeam">
		update plat_team
		 <set>
			<if test="teamCode != null and teamCode  !=''">
				team_code = #{teamCode,jdbcType=VARCHAR},
			</if>
			<if test="teamName != null and teamName  !=''">
				team_name = #{teamName,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null and startTime  !=''">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null and  endTime !=''">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="teamType != null and teamType  !=''">
				team_type = #{teamType,jdbcType=INTEGER},
			</if>
			<if test="contact != null and contact  !=''">
				contact = #{contact,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null and  createDate !=''">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null and  updateDate !=''">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="seeNum != null and  seeNum !=''">
				see_num = #{seeNum,jdbcType=INTEGER},
			</if>
			<if test="regionType != null and  regionType !=''">
				region_type = #{regionType,jdbcType=INTEGER},
			</if>
			<if test="logisticsType != null and  logisticsType !=''">
				logistics_type = #{logisticsType,jdbcType=INTEGER},
			</if>
			<if test="createUser != null and createUser  !=''">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
		</set>
		where
		pteam_id = #{pteamId,jdbcType=INTEGER}
	</update>
	
	<delete id="deletePlatTeamGoods" parameterType="int">
		delete from plat_team_goods	where pteam_id = #{pteamId,jdbcType=INTEGER};
	</delete>
	
	<delete id="deletePlatTeamRegion" parameterType="int">
		delete from plat_team_region where pteam_id = #{pteamId,jdbcType=INTEGER};
	</delete>

	<select id="selectPlatTeamCountByMap"
		parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
		count(*)
		FROM plat_team p,(SELECT pteam_id,region_name FROM plat_team_region
		GROUP BY pteam_id) ptr
		WHERE p.pteam_id = ptr.pteam_id and
		<if test="goods_name != null and goods_name != ''">
			goods_name like CONCAT('%','${goods_name}','%' ) and
		</if>
		<if test="pteam_id != null and pteam_id != ''">
			p.pteam_id=#{platTeamId,jdbcType=INTEGER} and
		</if>
		<if test="team_code != null and team_code != ''">
			p.team_code=#{team_code,jdbcType=VARCHAR} and
		</if>
		<if test="team_name != null and team_name != ''">
			p.team_name like CONCAT('%','${team_name}','%' ) and
		</if>
		<if test="start_time != null and  start_time != ''">
			#{start_time,jdbcType=TIMESTAMP} >= p.start_time and
		</if>
		<if test="end_time != null and  end_time != ''">
			p.end_time >= #{end_time,jdbcType=TIMESTAMP} and
		</if>
		1=1
		order by p.create_date desc
	</select>

	<select id="selectPlatTeamListByMap"
		parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		p.pteam_id,
		p.team_code,
		p.team_name,
		p.start_time,
		p.end_time,
		p.contact,
		p.logistics_type,
		p.team_type,
		GROUP_CONCAT(ptr.region_name
		SEPARATOR ',') AS region_name
		FROM
		plat_team p
		LEFT JOIN plat_team_region ptr
		ON
		p.pteam_id = ptr.pteam_id
		where
		<if test="goods_name != null and goods_name != ''">
			goods_name like CONCAT('%','${goods_name}','%' ) and
		</if>
		<if test="pteam_id != null and pteam_id != ''">
			p.pteam_id=#{platTeamId,jdbcType=INTEGER} and
		</if>
		<if test="team_code != null and team_code != ''">
			p.team_code=#{team_code,jdbcType=VARCHAR} and
		</if>
		<if test="team_name != null and team_name != ''">
			p.team_name like CONCAT('%','${team_name}','%' ) and
		</if>
		<if test="start_time != null and  start_time != ''">
			#{start_time,jdbcType=TIMESTAMP} >= p.start_time and
		</if>
		<if test="end_time != null and  end_time != ''">
			p.end_time >= #{end_time,jdbcType=TIMESTAMP} and
		</if>
		1=1
		GROUP BY
		p.pteam_id
		order by p.create_date desc
	</select>

	<select id="slectPlatTeamByPlatmId"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM plat_team
		WHERE
		pteam_id = #{platId,jdbcType=INTEGER}
	</select>

	<select id="slectAllByPlatmId" parameterType="java.lang.Integer"
		resultType="java.util.Map">
		select
		pt.team_name,
		ptr.region_id,
		ptr.region_name,
		ptr.goods_name,
		ptr.market_price,
		ptr.region_price,
		ptr.goods_id,
		ptr.stock,
		ptr.rebate_value
		from plat_team_region ptr,plat_team pt
		WHERE
		ptr.pteam_id=pt.pteam_id and
		pt.pteam_id=#{platTeamId}
	</select>

	<insert id="insert"
		parameterType="com.website.model.bean.PlatTeam">
		insert into plat_team (pteam_id, team_code, team_name,
		start_time, end_time, team_type,
		contact, create_date, update_date,
		see_num, region_type, logistics_type,
		create_user)
		values
		(#{pteamId,jdbcType=INTEGER}, #{teamCode,jdbcType=VARCHAR},
		#{teamName,jdbcType=VARCHAR},
		#{startTime,jdbcType=TIMESTAMP},
		#{endTime,jdbcType=TIMESTAMP}, #{teamType,jdbcType=INTEGER},
		#{contact,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{updateDate,jdbcType=TIMESTAMP},
		#{seeNum,jdbcType=INTEGER},
		#{regionType,jdbcType=INTEGER}, #{logisticsType,jdbcType=INTEGER},
		#{createUser,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.website.model.bean.PlatTeam">
		insert into plat_team
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pteamId != null">
				pteam_id,
			</if>
			<if test="teamCode != null">
				team_code,
			</if>
			<if test="teamName != null">
				team_name,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="teamType != null">
				team_type,
			</if>
			<if test="contact != null">
				contact,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="seeNum != null">
				see_num,
			</if>
			<if test="regionType != null">
				region_type,
			</if>
			<if test="logisticsType != null">
				logistics_type,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pteamId != null">
				#{pteamId,jdbcType=INTEGER},
			</if>
			<if test="teamCode != null">
				#{teamCode,jdbcType=VARCHAR},
			</if>
			<if test="teamName != null">
				#{teamName,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="teamType != null">
				#{teamType,jdbcType=INTEGER},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="seeNum != null">
				#{seeNum,jdbcType=INTEGER},
			</if>
			<if test="regionType != null">
				#{regionType,jdbcType=INTEGER},
			</if>
			<if test="logisticsType != null">
				#{logisticsType,jdbcType=INTEGER},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>