<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.PlatTeamDetailsMapper">
  <resultMap id="BaseResultMap" type="com.website.bean.PlatTeamDetails">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="pteam_id" jdbcType="INTEGER" property="pteamId" />
    <result column="details_type" jdbcType="INTEGER" property="detailsType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, pteam_id, details_type, description, create_date, update_date,sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plat_team_details
    where id = #{id,jdbcType=INTEGER}
  </select>
 
   <select id="selectPlatTeamDetailsList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plat_team_details
    where 
     	<if test="pteamId != null">
        pteam_id = #{pteamId,jdbcType=INTEGER} and
       </if>
       1=1
       order by sort
  </select>
  
  
  
  
  
  <insert id="newPlatTeamDetails" parameterType="com.website.bean.PlatTeamDetails">
    insert into plat_team_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id  !=''">
        id,
      </if>
      <if test="pteamId != null and pteamId  !=''">
        pteam_id,
      </if>
      <if test="detailsType != null and detailsType  !=''">
        details_type,
      </if>
      <if test="description != null and description  !=''">
        description,
      </if>
      <if test="createDate != null and createDate  !=''">
        create_date,
      </if>
      <if test="updateDate != null and  updateDate !=''">
        update_date,
      </if>
      <if test="sort != null and  sort !=''">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id  !=''">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pteamId != null and pteamId  !=''">
        #{pteamId,jdbcType=INTEGER},
      </if>
      <if test="detailsType != null and detailsType  !=''">
        #{detailsType,jdbcType=INTEGER},
      </if>
      <if test="description != null and description  !=''">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null and  createDate !=''">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null and updateDate  !=''">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null and  sort !=''">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="insert" parameterType="com.website.bean.PlatTeamDetails">
    insert into plat_team_details (id, pteam_id, details_type, 
      description, create_date, update_date, 
      sort)
    values (#{id,jdbcType=INTEGER}, #{pteamId,jdbcType=INTEGER}, #{detailsType,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.website.bean.PlatTeamDetails">
    insert into plat_team_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pteamId != null">
        pteam_id,
      </if>
      <if test="detailsType != null">
        details_type,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pteamId != null">
        #{pteamId,jdbcType=INTEGER},
      </if>
      <if test="detailsType != null">
        #{detailsType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>