<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power.dao.PowerGroupDao">
	
	<!-- 新增权限组信息 -->
	<insert id="insertPowerGroup" parameterType="com.power.bean.PowerGroup">
		insert into bus_powergroup
			(
				<if test="pgroup_id != null and pgroup_id != ''">pgroup_id,</if>
				<if test="groups_name != null and groups_name != ''">groups_name,</if>
				<if test="groups_desc != null and groups_desc != ''">groups_desc,</if>
				<if test="status != null and status != ''">status,</if>
				<if test="operator != null and operator != ''">operator,</if>
				<if test="seller_id != null and seller_id != ''">seller_id,</if>
				create_date,update_date
			)
			values
			(
				<if test="pgroup_id != null and pgroup_id != ''">#{pgroup_id},</if>
				<if test="groups_name != null and groups_name != ''">#{groups_name},</if>
				<if test="groups_desc != null and groups_desc != ''">#{groups_desc},</if>
				<if test="status != null and status != ''">#{status},</if>
				<if test="operator != null and operator != ''">#{operator},</if>
				<if test="seller_id != null and seller_id != ''">#{seller_id},</if>
				#{create_date},#{update_date}
			)
			
	</insert>

	<!-- 更新权限组信息 -->
	<update id="updatePowerGroup" parameterType="com.power.bean.PowerGroup">
		update bus_powergroup 
		<set>
			<if test="groups_name != null and groups_name != ''">groups_name = #{groups_name},</if>
			<if test="groups_desc != null and groups_desc != ''">groups_desc = #{groups_desc},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="operator != null and operator != ''">operator=#{operator},</if>
			<if test="seller_id != null and seller_id != ''">seller_id=#{seller_id},</if>
			update_date = #{update_date}
		</set>
		where pgroup_id = #{pgroup_id}
	</update>
	
	<!--查询权限组信息list -->
	<select id="queryPowerGroupList" parameterType="java.util.Map"
		resultType="java.util.Map">
			select 
				pgroup_id,groups_name,groups_desc,status,operator,create_date,update_date
			from bus_powergroup
		where
		<if test="pgroup_id != null and pgroup_id != ''"> pgroup_id = #{pgroup_id} and</if>
		<if test="seller_id != null and seller_id != ''"> seller_id = #{seller_id} and</if>
		<if test="groups_name != null and groups_name != ''"> groups_name like CONCAT('%','${groups_name}','%' ) and</if>
		<if test="operator != null and operator != ''"> operator like CONCAT('%','${operator}','%' ) and</if>
		<if test="status != null"> status = #{status} and</if>
		<if test="start_create_date != null and start_create_date != ''"> g.create_date %gt;= #{start_create_date} and</if>
		<if test="end_create_date != null and end_create_date != ''"> g.create_date %lt;= #{end_create_date} and</if>
		<if test="start_update_date != null and start_update_date != ''"> g.update_date %gt;= #{start_update_date} and</if>
		<if test="end_update_date != null and end_update_date != ''"> g.update_date %lt;= #{end_update_date} and</if>
		 1=1 order by create_date DESC
	</select>
	
	<!--查询权限组信息 -->
	<select id="queryPowerGroup" parameterType="java.util.Map"
		resultType="com.power.bean.PowerGroup">
			select 
				pgroup_id,groups_name,groups_desc,status,operator,create_date,update_date
			from bus_powergroup
		where
		<if test="pgroup_id != null and pgroup_id != ''"> pgroup_id = #{pgroup_id} and</if>
		<if test="status != null"> status = #{status} and</if>
		1=1
	</select>
	
	<!--查询权限组总数 -->
	<select id="queryPowerGroupListCount" parameterType="java.util.Map"  resultType="int">
			select count(1) from bus_powergroup
		where 
		<if test="pgroup_id != null and pgroup_id != ''"> pgroup_id = #{pgroup_id} and</if>
		<if test="seller_id != null and seller_id != ''"> seller_id = #{seller_id} and</if>
		<if test="groups_name != null and groups_name != ''"> groups_name like CONCAT('%','${groups_name}','%' ) and</if>
		<if test="operator != null and operator != ''"> operator like CONCAT('%','${operator}','%' ) and</if>
		<if test="status != null"> status = #{status} and</if>
		<if test="start_create_date != null and start_create_date != ''"> g.create_date %gt;= #{start_create_date} and</if>
		<if test="end_create_date != null and end_create_date != ''"> g.create_date %lt;= #{end_create_date} and</if>
		<if test="start_update_date != null and start_update_date != ''"> g.update_date %gt;= #{start_update_date} and</if>
		<if test="end_update_date != null and end_update_date != ''"> g.update_date %lt;= #{end_update_date} and</if>
		 1=1 
	</select>
	
	<!--查询权限组列表带分页 -->
	<select id="queryPowerGroupListByPage" parameterType="java.util.Map"  resultType="java.util.Map">
			select 
				pgroup_id,groups_name,groups_desc,status,operator,create_date,update_date
			from bus_powergroup
		where 
		<if test="pgroup_id != null and pgroup_id != ''"> pgroup_id = #{pgroup_id} and</if>
		<if test="seller_id != null and seller_id != ''"> seller_id = #{seller_id} and</if>
		<if test="groups_name != null and groups_name != ''"> groups_name like CONCAT('%','${groups_name}','%' ) and</if>
		<if test="operator != null and operator != ''"> operator like CONCAT('%','${operator}','%' ) and</if>
		<if test="status != null"> status = #{status} and</if>
		<if test="start_create_date != null and start_create_date != ''"> g.create_date %gt;= #{start_create_date} and</if>
		<if test="end_create_date != null and end_create_date != ''"> g.create_date %lt;= #{end_create_date} and</if>
		<if test="start_update_date != null and start_update_date != ''"> g.update_date %gt;= #{start_update_date} and</if>
		<if test="end_update_date != null and end_update_date != ''"> g.update_date %lt;= #{end_update_date} and</if>
		 1=1 order by create_date DESC
	</select>
	
	<!-- 删除权限组 -->
	<delete id="deletePowerGroup" parameterType="java.lang.String">
		delete from bus_powergroup where pgroup_id = #{pgroup_id}
	</delete>
	
	
	<!-- 删除权限组与角色关联 -->
	<delete id="deleteGroupsByRoleId" parameterType="java.lang.String">
		delete from bus_rgmaping where r_id = #{role_id}
	</delete>
	
	
	<!-- 新增角色与权限组关联 -->
	<insert id="insertRoleGroup" parameterType="java.util.Map">
		insert into bus_rgmaping
			(
				<if test="rg_id != null and rg_id != ''">rg_id,</if>
				<if test="r_id != null and r_id != ''">r_id,</if>
				<if test="pgroup_id != null and pgroup_id != ''">pgroup_id,</if>
				<if test="operator_id != null and operator_id != ''">operator_id,</if>
				create_date,update_date
			)
			values
			(
				<if test="rg_id != null and rg_id != ''">#{rg_id},</if>
				<if test="r_id != null and r_id != ''">#{r_id},</if>
				<if test="pgroup_id != null and pgroup_id != ''">#{pgroup_id},</if>
				<if test="operator_id != null and operator_id != ''">#{operator_id},</if>
				#{create_date},#{update_date}
			)
	</insert>
	
	<!-- 新增菜单权限组关系信息 -->
	<insert id="insertGroupMenu" parameterType="com.power.bean.GMMaping">
		insert into bus_gmmaping
			(
				<if test="gm_id != null and gm_id != ''">gm_id,</if>
				<if test="pgroup_id != null and pgroup_id != ''">pgroup_id,</if>
				<if test="m_id != null and m_id != ''">m_id,</if>
				<if test="operator != null and operator != ''">operator,</if>
				create_date,update_date
			)
			values
			(
				<if test="gm_id != null and gm_id != ''">#{gm_id},</if>
				<if test="pgroup_id != null and pgroup_id != ''">#{pgroup_id},</if>
				<if test="m_id != null and m_id != ''">#{m_id},</if>
				<if test="operator != null and operator != ''">#{operator},</if>
				#{create_date},#{update_date}
			)
			
	</insert>
	<!--查询权限组菜单信息list -->
	<select id="queryGroupMenuList" parameterType="java.util.Map"
		resultType="java.util.Map">
			select 
				pgroup_id,gm_id,m_id,operator,create_date,update_date
			from bus_gmmaping
		where
		<if test="pgroup_id != null and pgroup_id != ''"> pgroup_id = #{pgroup_id} and</if>
		<if test="gm_id != null and gm_id != ''"> gm_id = #{gm_id} and</if>
		<if test="m_id != null and m_id != ''"> m_id = #{m_id} and</if>
		 1=1 order by create_date DESC
	</select>
	
	<!-- 删除权限组与菜单关联 -->
	<delete id="deleteGroupMenu" parameterType="java.util.Map">
		delete from bus_gmmaping where 
		<if test="pgroup_id != null and pgroup_id != ''"> pgroup_id = #{pgroup_id} and</if>
		<if test="m_id != null and m_id != ''"> m_id = #{m_id} and</if>
		1=1
	</delete>
</mapper>