<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power.dao.RolesDao">
	
	<!-- 新增角色信息 -->
	<insert id="insertRolesInfo" parameterType="com.power.bean.RolesInfo">
		insert bus_role  
			(
				<if test="role_id != null and role_id != ''">role_id,</if>
				<if test="role_name != null and role_name != ''">role_name,</if>
				<if test="discribe != null and discribe != ''">discribe,</if>
				<if test="status_flg != null  ">status_flg,</if>
				<if test="poerator_id != null and poerator_id != ''">poerator_id,</if>
				<if test="seller_id != null and seller_id != ''">seller_id,</if>
				create_date,update_date
			)
			values
			(
				<if test="role_id != null and role_id != ''">#{role_id},</if>
				<if test="role_name != null and role_name != ''">#{role_name},</if>
				<if test="discribe != null and discribe != ''">#{discribe},</if>
				<if test="status_flg != null">#{status_flg},</if>
				<if test="poerator_id != null and poerator_id != ''">#{poerator_id},</if>
				<if test="seller_id != null and seller_id != ''">#{seller_id},</if>
				#{create_date},#{update_date}
			)
			
	</insert>

	<!-- 更新角色信息 -->
	<update id="updateRoles" parameterType="com.power.bean.RolesInfo">
		update bus_role 
		<set>
			<if test="role_name != null and role_name != ''">role_name = #{role_name},</if>
			<if test="status_flg != null  ">status_flg = #{status_flg},</if>
			<if test="discribe != null  ">discribe = #{discribe},</if>
			<if test="poerator_id != null and poerator_id != ''">poerator_id = #{poerator_id},</if>
			<if test="seller_id != null and seller_id != ''">seller_id = #{seller_id},</if>
			update_date = #{update_date}
		</set>
		where role_id = #{role_id}
	</update>
	
	<!--查询角色信息 -->
	<select id="queryRolesInfo" parameterType="java.util.Map" resultType="com.power.bean.RolesInfo">
				select 
				role_id,role_name,discribe,create_date,update_date,status_flg,poerator_id
			from  bus_role
		where
			<if test="role_id != null "> role_id = #{role_id} and</if>
			<if test="status_flg != null "> status_flg = #{status_flg} and</if>
			<if test="role_name != null and role_name != ''"> role_name like CONCAT('%','${role_name}','%' ) and</if>
			<if test="seller_id != null "> seller_id = #{seller_id} and</if>
		 1=1 order by create_date DESC
	</select>
	
	<!--查询角色总数 -->
	<select id="queryRolesListCount" parameterType="java.util.Map"  resultType="int">
			select count(1) from bus_role
		where 
		<if test="role_id != null "> role_id = #{role_id} and</if>
		<if test="status_flg != null "> status_flg = #{status_flg} and</if>
		<if test="role_name != null and role_name != ''"> role_name like CONCAT('%','${role_name}','%' ) and</if>
		<if test="seller_id != null "> seller_id = #{seller_id} and</if>
		 1=1 
	</select>
	
	<!--查询角色列表带分页 -->
	<select id="queryRolesListByPage" parameterType="java.util.Map"  resultType="com.power.bean.RolesInfo">
			select 
				role_id,role_name,discribe,create_date,update_date,status_flg,poerator_id
			from  bus_role
		where  
		<if test="role_id != null "> role_id = #{role_id} and</if>
		<if test="status_flg != null "> status_flg = #{status_flg} and</if>
		<if test="role_name != null and role_name != ''"> role_name like CONCAT('%','${role_name}','%' ) and</if>
		<if test="seller_id != null "> seller_id = #{seller_id} and</if>
		 1=1 order by update_date DESC
	</select>
	
	<!-- 删除角色分类关系 -->
	<delete id="deleteRolesInfo" parameterType="java.lang.String">
		delete from bus_role where role_id = #{role_id}
	</delete>
	
	<!--查询角色权限组信息 -->
	<select id="queryRolesGroupsList" parameterType="java.util.Map" resultType="java.util.Map">
			select 
			distinct(g.pgroup_id),	g.groups_name 
			from bus_powergroup g 
			where g.pgroup_id in (select rg.pgroup_id from bus_role r inner join bus_rgmaping rg  on r.role_id = rg.r_id where rg.r_id = #{role_id}) and 
			<if test="status != null "> g.status = #{status} and</if>
		 1=1 order by g.update_date DESC
	</select>
	<!--查询角色没有关联的权限组信息 -->
	<select id="queryNotRolesGroupsList" parameterType="java.util.Map" resultType="java.util.Map">
			select 
			distinct(g.pgroup_id),	g.groups_name
			from bus_powergroup g 
			where g.pgroup_id not in (select rg.pgroup_id from bus_role r inner join bus_rgmaping rg  on r.role_id = rg.r_id where rg.r_id = #{role_id}) and 
			<if test="status != null "> g.status = #{status} and</if>
		 1=1 order by g.update_date DESC
	</select>
	
	<!--查询角色列表 -->
	<select id="queryRolesList" parameterType="java.util.Map" resultType="com.power.bean.RolesInfo">
		select 
				role_id,role_name,discribe,create_date,update_date,status_flg,poerator_id,rank
			from  bus_role
		where
			<if test="role_id != null "> role_id = #{role_id} and</if>
			<if test="status_flg != null "> status_flg = #{status_flg} and</if>
			<if test="role_name != null and role_name != ''"> role_name like CONCAT('%','${role_name}','%' ) and</if>
			<if test="seller_id != null "> seller_id = #{seller_id} and</if>
		 1=1 order by create_date DESC
	</select>
	
	<!--查询角色列表 -->
	<select id="queryRoleById" parameterType="string" resultType="com.power.bean.RolesInfo">
				select 
				role_id,role_name,discribe,create_date,update_date,status_flg,poerator_id,rank
			from  bus_role
		where role_id = #{value}
	</select>
	
	<!--查询用户角色信息 -->
	<select id="queryRolesUserList" parameterType="java.util.Map" resultType="java.util.Map">
		select ru_id,r_id,user_id from  bus_rumaping where user_id = #{user_id}
	</select>
	<!--查询角色对应权限信息 -->
	<select id="queryRGroupsList" parameterType="java.util.Map" resultType="java.util.Map">
		select rg_id,r_id,pgroup_id from bus_rgmaping where r_id = #{r_id}
	</select>
	<!--查询权限对应菜单信息 -->
	<select id="queryGMenuList" parameterType="java.util.Map" resultType="java.util.Map">
		select gm.gm_id,gm.pgroup_id,gm.m_id 
		from bus_gmmaping gm,bus_menu m
		 where gm.m_id = m.m_id and 
			<if test="levels != null "> m.levels=#{levels} and</if>
			<if test="pgroup_id != null "> gm.pgroup_id = #{pgroup_id} and</if>
			<if test="parentid != null "> m.parentid = #{parentid} and</if>
			<if test="status != null "> m.status = #{status} and</if>
			1=1 order by m.sort 
	</select>
	
	<!-- 新增用户角色关系信息 -->
	<insert id="insertRoleUser" parameterType="com.power.bean.RUMaping">
		insert bus_rumaping  
			(
				<if test="ru_id != null and ru_id != ''">ru_id,</if>
				<if test="r_id != null and r_id != ''">r_id,</if>
				<if test="user_id != null and user_id != ''">user_id,</if>
				<if test="operator != null and operator != ''">operator,</if>
				create_date,update_date
			)
			values
			(
				<if test="ru_id != null and ru_id != ''">#{ru_id},</if>
				<if test="r_id != null and r_id != ''">#{r_id},</if>
				<if test="user_id != null and user_id != ''">#{user_id},</if>
				<if test="operator != null and operator != ''">#{operator},</if>
				#{create_date},#{update_date}
			)
			
	</insert>
	<!-- 删除用户角色关系 -->
	<delete id="deleteRoleUser" parameterType="java.lang.String">
		delete from bus_rumaping where user_id = #{user_id}
	</delete>
	
	<!--查询用户对应角色信息 -->
	<select id="queryRUMapingList" parameterType="java.util.Map" resultType="com.power.bean.RUMaping">
		select ru_id,r_id,user_id from bus_rumaping where user_id = #{user_id}
	</select>
	
	<!-- 根据user_id查询对应的角色信息 -->
	<select id="selectByUserId" parameterType="String" resultType="com.power.bean.RUMaping">
		select ru_id,r_id,user_id 
		from bus_rumaping 
		where 
			user_id = #{user_id}
	</select>
	
	<!-- 更新角色关系信息 -->
	<!-- 更新角色信息 -->
	<update id="updateRuMaping" parameterType="com.power.bean.RUMaping">
		update bus_rumaping 
		<set>
			<if test="r_id != null and r_id != ''">r_id = #{r_id},</if>
			update_date = #{update_date}
		</set>
		where ru_id = #{ru_id}
	</update>
	
</mapper>