<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.dao.UserFansMapper">
	<resultMap id="BaseResultMap"
		type="com.website.bean.UserFans">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="commander_id" jdbcType="INTEGER"
			property="commanderId" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="user_name" jdbcType="VARCHAR"
			property="userName" />
		<result column="header" jdbcType="VARCHAR" property="header" />
		<result column="create_date" jdbcType="TIMESTAMP"
			property="createDate" />
	</resultMap>
	<sql id="Base_Column_List">
		id, commander_id, user_id, user_name, header, create_date
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_fans
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insert"
		parameterType="com.website.bean.UserFans">
		insert into user_fans (id, commander_id, user_id,
		user_name, header, create_date
		)
		values (#{id,jdbcType=INTEGER}, #{commanderId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{userName,jdbcType=VARCHAR}, #{header,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.website.bean.UserFans">
		insert into user_fans
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="commanderId != null">
				commander_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="header != null">
				header,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="commanderId != null">
				#{commanderId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="header != null">
				#{header,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.website.bean.UserFans">
		update user_fans
		<set>
			<if test="commanderId != null">
				commander_id = #{commanderId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="header != null">
				header = #{header,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.website.bean.UserFans">
		update user_fans
		set commander_id = #{commanderId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		user_name = #{userName,jdbcType=VARCHAR},
		header = #{header,jdbcType=VARCHAR},
		create_date = #{createDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectFansList" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
		uf.user_name ,
		uf.header as fansHeader,
		ui.real_name,
		ui.nick_name,
		ui.contact,
		ui.header as userHeader,
		uf.create_date
		FROM
		user_fans uf
		LEFT JOIN user_info ui ON uf.commander_id = ui.id
		where 1=1
		<if test="nick_name != null and nick_name != ''">
			and ui.nick_name like CONCAT('%','${nick_name}','%')
		</if>
		<if test="user_name != null and user_name != ''">
			and uf.user_name like CONCAT('%','${user_name}','%')
		</if>
		<if test="contact != null and contact != ''">
			and ui.contact like CONCAT('%','${contact}','%')
		</if>
	</select>
	
	<select id="queryFansListCount" parameterType="java.util.Map"
		resultType="int">
		SELECT
		count(*)
		FROM
		user_fans uf
		LEFT JOIN user_info ui ON uf.commander_id = ui.id
		where 1=1
		<if test="nick_name != null and nick_name != ''">
			and ui.nick_name like CONCAT('%','${nick_name}','%')
		</if>
		<if test="user_name != null and user_name != ''">
			and uf.user_name like CONCAT('%','${user_name}','%')
		</if>
		<if test="contact != null and contact != ''">
			and ui.contact like CONCAT('%','${contact}','%')
		</if>
	</select>
</mapper>